<div class="config">

	<div>
		<h2>Konfiguration</h2>
		<hr/>
	</div>

	<div class="col-lg-4">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Allgemeine Einstellungen</h4>
			</div>

			<div class="panel-body">
				Projekt der Öffentlichkeit zugänglich machen on/off
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					Mitarbeiter/Beobachter verwalten
				</h4>
			</div>

			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th width="30%">Name</th>
							<th width="30%">Email</th>
							<th width="20%">Rolle</th>
							<th width="20%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="s in staff" >
							<td>{{s.name}}</td>
							<td>{{s.email}}</td>
							<td>{{s.role}}</td>
							<td><button class="btn btn-danger btn-xs" ng-click=removeStaff(s.sid,s.rid)>
								<i class="fa fa-trash"></i>
								</button>
							</td>
						</tr>

					</tbody>
				</table>

				<p>
					<button class="btn btn-primary" title="Entfernen" ng-show="can('edit_staff')" ui-sref="project.config.staffedit"><i class="fa fa-plus"></i> Mitarbeiter/Beobachter hinzufügen</button>
				</p>


			</div>
		</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						Rechteverwaltung
					</h4>
				</div>

					<div class="panel-body">

					</div>
			</div>


	</div>
</div>
