<!-- obere Hälfte -->
<div class="explorerUpperHalf">

<!-- linke Spalte -->
<div class="viewportPanel">
	
	<!-- Kontrollleiste über Viewport -->
	<!--<div class="viewportCtrls">
		
		<!-- Buttons -> auf Objekt fokusieren --
		<div class="ctrlGroup">
			<button title="Focus All" class="ctrlBtn" ng-class="(activeBtn == 'zoom_all') ? 'active' : ''" ng-click="callDirFunc.focusAll()" ng-mousedown="activeBtn = 'zoom_all'" ng-mouseup="activeBtn = ''" ng-mouseleave="activeBtn = ''"><img src="img/icons/zoom_all.png"/></button>
			<button title="Focus Selection" class="ctrlBtn" ng-class="(activeBtn == 'zoom_sel') ? 'active' : ''"  ng-click="callDirFunc.focusSelected()" ng-mousedown="activeBtn = 'zoom_sel'" ng-mouseup="activeBtn = ''" ng-mouseleave="activeBtn = ''"><img src="img/icons/zoom_sel.png"/></button>
		</div>
		
		<!-- Dropdown-Liste Rendermode und Kamera --
		<div class="ctrlGroup form-inline">
			<select class="form-control input-sm" ng-model="shadingOption" ng-init="shadingOption = 'color+edges'">
				<option value="color+edges">color + edges</option>
				<option value="color-edges">color without edges</option>
				<option value="grey+edges">grey + edges</option>
				<option value="transparent+edges">transparent + edges</option>
				<option value="edges">only edges</option>
				<!--<option value="color+wireframe">color + wireframe</option>--
				<option value="wireframe">only wireframe</option>
			</select>
			<select class="form-control input-sm" ng-model="cameraOption" ng-init="cameraOption = 'perspective'">
				<option value="perspective">Perspective</option>
				<option value="top">Top</option>
				<option value="front">Front</option>
				<option value="left">Left</option>
			</select>
		</div>
		
		<!-- MessTool-Button --
		<div class="ctrlGroup">
			<button title="Measurement Tool" class="ctrlBtn" ng-class="(activeBtn == 'measure') ? 'active' : ''" ng-click="ctrlBtnClick('measure')"><img src="img/icons/measure.png"/></button>
		</div>
		
		<!-- Slice-Buttons --
		<div class="ctrlGroup">
			<button title="Toggle Slice" class="ctrlBtn" ng-class="(toggleSlice) ? 'active' : ''" ng-click="ctrlBtnClick('slice_toggle')" ><img src="img/icons/slice_toggle.png"/></button>
			<button title="Slice Move" class="ctrlBtn" ng-class="(activeBtn == 'slice_move') ? 'active' : ''" ng-click="ctrlBtnClick('slice_move')" ng-disabled="!toggleSlice"><img src="img/icons/slice_move.png"/></button>
			<button title="Slice Rotate" class="ctrlBtn" ng-class="(activeBtn == 'slice_rotate') ? 'active' : ''" ng-click="ctrlBtnClick('slice_rotate')" ng-disabled="!toggleSlice"><img src="img/icons/slice_rotate.png"/></button>
			<button title="Slice Cut" class="ctrlBtn" ng-class="(toggleCut) ? 'active' : ''" ng-click="ctrlBtnClick('slice_cut')" ng-disabled="!toggleSlice"><img src="img/icons/slice_cut.png"/></button>
		</div>
		
		<!-- Koordinaten-Inputs --
		<div class="ctrlGroup form-inline">
			<label>X</label> <input class="form-control input-sm" type="text" name="inputXCoord" ng-class="(coords.xError)?'error':''" ng-model="coords.x" ng-model-options="{updateOn:blur}" ng-blur="validateCoord('x', coords.x);" ng-disabled="!coords.enabled" ng-keyup="validateCoord('x', coords.x, $event);" ng-click="onEnterField($event);" />
			<label>Y</label> <input class="form-control input-sm" type="text" name="inputYCoord" ng-class="(coords.yError)?'error':''" ng-model="coords.y" ng-model-options="{updateOn:blur}" ng-blur="validateCoord('y', coords.y);" ng-disabled="!coords.enabled" ng-keyup="validateCoord('y', coords.y, $event);" ng-click="onEnterField($event);" />
			<label>Z</label> <input class="form-control input-sm" type="text" name="inputZCoord" ng-class="(coords.zError)?'error':''" ng-model="coords.z" ng-model-options="{updateOn:blur}" ng-blur="validateCoord('z', coords.z);" ng-disabled="!coords.enabled" ng-keyup="validateCoord('z', coords.z, $event);" ng-click="onEnterField($event);" />
		</div>
	</div>-->
	
	<!-- 3D-Viewport -->
	<div id="webglViewport" ng-class="{cursor_orbit: navigation.rotate, cursor_pan: navigation.pan, cursor_zoom: navigation.zoom}"
		webgl-view
		unsafe-settings="unsafeSettings"
		viewport-settings="viewportSettings"
		call-func="callDirFunc"
		gizmo-Coords="coords"
		navigation="navigation"
		screenshot-callback="receiveScreenshot">
		
		<!-- Achsen-Viewport -->
		<div id="axis"></div>
		<!-- Ladebalken und Schrift -->
		<div id="loadprogressitem"></div>
		<div id="loadprogressbar"></div>
		
		<!-- Kontrollleiste -->
		<div class="vpNaviContainer">
			<!-- Buttons -> auf Objekt fokusieren -->
			<div class="ctrlGroup">
				<button title="Focus All" class="ctrlBtn" ng-class="(activeBtn == 'zoom_all') ? 'active' : ''" ng-click="wi.callFunc.focusAll()" ng-mousedown="activeBtn = 'zoom_all'" ng-mouseup="activeBtn = ''" ng-mouseleave="activeBtn = ''"><img src="img/icons/zoom_all_w.png"/></button>
				<button title="Focus Selection" class="ctrlBtn" ng-class="(activeBtn == 'zoom_sel') ? 'active' : ''"  ng-click="wi.callFunc.focusSelected()" ng-mousedown="activeBtn = 'zoom_sel'" ng-mouseup="activeBtn = ''" ng-mouseleave="activeBtn = ''"><img src="img/icons/zoom_sel_w.png"/></button>
			</div>
			
			<!-- Buttons -> navigieren -->
			<div class="ctrlGroup">
				<button title="Auswahl-Werkzeug" class="ctrlBtn" ng-class="(navigation.select) ? 'active' : ''"  ng-click="wi.callFunc.setNavigationMode('select')"><img src="img/icons/cursor80_w.svg" width="24"/></button>
				<button title="Ansicht drehen" class="ctrlBtn" ng-class="(navigation.rotate) ? 'active' : ''"  ng-click="wi.callFunc.setNavigationMode('rotate')"><img src="img/icons/orbit_w.svg" width="24"/></button>
				<button title="Ansicht verschieben" class="ctrlBtn" ng-class="(navigation.pan) ? 'active' : ''"  ng-click="wi.callFunc.setNavigationMode('pan')"><img src="img/icons/move_w.svg" width="24"/></button>
				<button title="Ansicht zoomen" class="ctrlBtn" ng-class="(navigation.zoom) ? 'active' : ''" ng-click="wi.callFunc.setNavigationMode('zoom')"><img src="img/icons/zoom2_w.svg" width="24"/></button>
			</div>
			
			<!-- Dropdown-Liste Rendermode und Kamera -->
			<div class="ctrlGroup form-inline">
				<select class="form-control input-sm" ng-options="s for s in wi.viewportSettings.shading" ng-model="wi.viewportSettings.shadingSel" ng-change="wi.callFunc.setShading(wi.viewportSettings.shadingSel)">
					<!--<option value="color+edges">color + edges</option>
					<!--<option value="color-edges">color without edges</option>--
					<option value="grey+edges">grey + edges</option>
					<option value="transparent+edges">transparent + edges</option>
					<!--<option value="edges">only edges</option>
					<!--<option value="color+wireframe">color + wireframe</option>--
					<option value="wireframe">only wireframe</option>
					<option value="xray">xray</option>-->
				</select>
				<button class="btn btn-default btn-xs" ng-class="{active: wi.viewportSettings.edges}" ng-click="wi.viewportSettings.edges = !wi.viewportSettings.edges">Kanten</button>
				<select class="form-control input-sm" ng-options="c for c in wi.viewportSettings.camera" ng-model="wi.viewportSettings.cameraSel" ng-change="wi.callFunc.setCamera(wi.viewportSettings.cameraSel)"></select>
			</div>
			
			<div class="ctrlGroup">
				<div class="btn-group btn-group-xs">
					<button type="button" class="btn" ng-class="wi.viewportSettings.ssao == 'ssao' ? 'btn-primary' : 'btn-default'" ng-init="wi.viewportSettings.ssao = 'aa'" ng-click="wi.viewportSettings.ssao = 'ssao'">SSAO</button>
					<button type="button" class="btn" ng-class="wi.viewportSettings.ssao == 'aa' ? 'btn-primary' : 'btn-default'" ng-click="wi.viewportSettings.ssao = 'aa'">AA</button>
				</div>
			</div>
			
			<!--<div class="ctrlGroup">
				<button title="Viewport settings" class="ctrlBtn" ng-class="(activeBtn == 'vpsettings') ? 'active' : ''" ng-click="callDirFunc.focusAll()" ng-mousedown="activeBtn = 'vpsettings'" ng-mouseup="activeBtn = ''" ng-mouseleave="activeBtn = ''"><span class="glyphicon glyphicon-cog"></span></button>
			</div>-->
		</div>
		
		<!-- Erweiterte Optionen im Viewport -->
		<div ng-include="'partials/enhanced_options.html'" class="vpPanelContainer" ng-show="views.enhancedOptions.show"></div>
		<div ng-include="'partials/enhanced_options_horizontal.html'" class="vpPanelContainerHorizontal"></div>
	
		<div ng-include="'partials/legend.html'" class="legend"></div>
		
	</div>
</div>

<!-- Seitenspalte -->
<div class="sidePanel">

	<div class="sidePanelSidemenu">
	
		<div title="Objekte" class="smBtn" ng-class="{'active': views.activeSide=='objlist'}" ng-click="views.activeSide = 'objlist'">
			<span class="glyphicon glyphicon-list"></span>
		</div>
		<div title="Kommentare" class="smBtn" ng-class="{'active': views.activeSide=='comments'}" ng-click="views.activeSide = 'comments'">
			<span class="glyphicon glyphicon-comment"></span>
		</div>
		<div title="Eigenschaften" class="smBtn" ng-class="{'active': views.activeSide=='objproperties'}" ng-click="views.activeSide = 'objproperties'">
			<span class="glyphicon glyphicon-list-alt"></span>
		</div>
		
	</div>
	
	<!--Objekthierarchie-->
	<div ng-show="views.activeSide == 'objlist'" class="sideContainer">
		
		<div class="sideHeader">
			<h4>Objekte</h4>
			<hr/>
			
			<div class="btn-group btn-group-xs">
				<button type="button" class="btn" ng-class="listSettings == 'hierarchy' ? 'btn-primary' : 'btn-default'" ng-click="listSettings = 'hierarchy'">Hierarchie</button>
				<button type="button" class="btn" ng-class="listSettings == 'layers' ? 'btn-primary' : 'btn-default'" ng-click="listSettings = 'layers'">Layer</button>
			</div>
		</div>
		
		<div class="sideContent smallFont">
				
				<h5>Objekte</h5>
				
				<div ng-if="listSettings=='hierarchy'" ng-repeat="data in wi.hierarchList | orderBy: 'name'" ng-init="depth=0" ng-include="'partials/tree_item_renderer.html'"></div>
				
				<div ng-if="listSettings=='layers'" ng-repeat="layer in wi.layers | orderBy: 'name'" ng-init="depth=0">
					<div class="listItem">
						<span class="glyphicon toggle" ng-class="layer.visible ? 'glyphicon-eye-open' : 'glyphicon-eye-close'" ng-click="layer.toggle()"></span>
						<div class="expand" ng-style="{'flex-basis': (depth*20+15)+'px'}" ng-click="layer.expand = !layer.expand;"><span ng-class="layer.expand ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus'" ></span></div>
						<span class="info" ng-click="layer.select($event)">{{layer.name}}</span>
						<div class="opacity" ramp-slider rs-model="layer.opacity" rs-onchange="layer.setOpacity" rs-color="#ddd" rs-color-two="#bbb"></div>
						<span class="glyphicon glyphicon-search" title="Fokusieren" ng-click="layer.focus()"></span>
					</div>
					<div ng-show="layer.expand" class="listChildren">
						<div ng-repeat="data in wi.layerList | filter: {layer: layer.name} | orderBy: 'name'" ng-init="depth=1">
							<div class="listItem">
								<span class="glyphicon toggle" ng-class="data.visible ? 'glyphicon-eye-open' : 'glyphicon-eye-close'" ng-click="data.toggle()"></span>
								<div class="expand"></div>
								<span class="info" ng-click="data.select($event)">{{data.title}} ({{data.id}})</span>
								<div class="opacity" ramp-slider rs-model="data.opacity" rs-onchange="data.setOpacity" rs-color="#ddd" rs-color-two="#bbb"></div>
								<span class="glyphicon glyphicon-search" title="Fokusieren" ng-click="data.focus()"></span>
							</div>
						</div>
					</div>
				</div>
				
				<h5>Plans</h5>
				
				<div class="listItem" ng-class="{selected: data.selected}" ng-repeat="data in wi.plans">
					<span class="glyphicon toggle" ng-class="data.visible ? 'glyphicon-eye-open' : 'glyphicon-eye-close'" ng-click="data.toggle()"></span>
					<div class="expand"></div>
					<span class="info" ng-click="data.select($event)">{{data.title}} ({{data.id}})</span>
					<div class="opacity" ramp-slider rs-model="data.opacity" rs-onchange="data.setOpacity" rs-color="#ddd" rs-color-two="#bbb"></div>
					<span class="glyphicon glyphicon-search" title="Ansicht einnehmen" ng-click="data.setOrthoView()"></span>
					
				</div>
			
		</div>
		
		<div class="sideFooter">
			
		</div>
		
	</div>

	<!-- Screenshots und Kommentare -->
	<div ng-show="views.activeSide == 'comments'" class="sideContainer">
		
		<div class="sideHeader">
			<h4>Screenshots & Kommentare</h4>
			<hr/>
			
			<div class="dropArea screenshot" ng-click="wi.callFunc.startMarking()">
				<i class="plus fa fa-thumb-tack"></i> <div>Screenshot erstellen</div>
				<!--<div class="plus" ng-bind-html="plusSign"></div> <div>Screenshot erstellen</div>-->
			</div>
			
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="screenshotPins.isVisible" ng-change="togglePins()"/> Pins anzeigen
				</label>
			</div>
			
		</div>
		
		<div class="sideContent smallFont">
		
		
			<div class="media screenshotItem" ng-repeat="s in screenshots" ng-click="openScreenshotDetail(s)" ng-mouseenter="!screenshotPins.isVisible && wi.callFunc.addPin(s.id,s.pin)" ng-mouseleave="!screenshotPins.isVisible && wi.callFunc.removePin(s.id)">
				<div class="media-left pull-left">
					<img class="media-object" ng-src="{{'data/' + s.path + '_thumbs/t_' + s.file}}"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading">{{s.title}}</h4>
					<ol>
						<li ng-repeat="m in s.markers">{{m.comment | characters:90:false }}</li>
					</ol>
					<span class="glyphicon glyphicon-search" title="Ansicht einnehmen" ng-click="wi.callFunc.setScreenshotView(s.camera);$event.stopPropagation()"></span>
				</div>
			</div>
			
		</div>
		
		<div class="sideFooter">
			<!--<button class="btn btn-default" ng-click="makeScreenshot()">Screenshot erstellen</button>-->
		</div>
		
	</div>
	
	<!-- Objekteigenschaften -->
	<div ng-show="views.activeSide == 'objproperties'" class="sideContainer" ng-include="'partials/sideObjectProperties.html'"></div>
	

</div>

<div class="resizer-v" resizer="vertical" resizer-left=".viewportPanel" resizer-left-min="780" resizer-right=".sidePanel" resizer-right-min="380" resizer-end="wi.callFunc.resize"></div>

</div>

<!-- horizontaler Handler --
<div class="gridHandle-h"></div>

<!-- untere Hälfte -->
<div class="explorerLowerHalf">

<!-- linke Spalte -->
<div class="sourcesPanel">
	
	<div class="sourcesColumnTop">
		<!-- Anzeigeoptionen und Suche -->
		<div class="sourcesCtrls">
			<div class="ctrlGroup resGroup">
				<a title="Große Kacheln" class="iconBtn" ng-class="(sourcesSettings.listSize == 'large') ? 'active' : ''" ng-click="sourcesSettings.listSize = 'large'"><span class="glyphicon glyphicon-th-large"></span></a>
				<a title="Kleine Kacheln" class="iconBtn" ng-class="(sourcesSettings.listSize == 'normal') ? 'active' : ''" ng-click="sourcesSettings.listSize = 'normal'"><span class="glyphicon glyphicon-th"></span></a>
				<a title="Liste" class="iconBtn" ng-class="(sourcesSettings.listSize == 'list') ? 'active' : ''" ng-click="sourcesSettings.listSize = 'list'"><span class="glyphicon glyphicon-th-list"></span></a>
			</div>
			<div class="ctrlGroup resGroup">
				<a title="Aufsteigend sortieren" class="iconBtn" ng-class="(!sourcesSettings.reverse) ? 'active' : ''" ng-click="sourcesSettings.reverse = false"><span class="glyphicon glyphicon-sort-by-attributes"></span></a>
				<a title="Absteigend sortieren" class="iconBtn" ng-class="(sourcesSettings.reverse) ? 'active' : ''" ng-click="sourcesSettings.reverse = true"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></a>
			</div>
			<div class="ctrlGroup resGroup form-inline">
				<span>Sortieren nach</span>
				<select class="form-control input-sm" ng-model="sourcesSettings.orderBy">
					<option value="title">Titel</option>
					<option value="date">Jahr</option>
					<option value="author">Autor</option>
				</select>
			</div>
			<div class="ctrlGroup resGroup form-inline">
				<input ng-model="sourcesSettings.filterBy" type="search" placeholder="Suche"/>
			</div>
			<!-- <div class="ctrlGroup resGroup">
				<div class="dropdown">
					<button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownSources" data-toggle="dropdown">
						Quelle einfügen
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownSources">
						<li role="presentation" class="dropdown-header">Harte Quellen</li>
						<li role="representation"><a role="menuitem" tabindex="-1" href="#">Ausgrabung</a></li>
						<li role="representation"><a role="menuitem" tabindex="-1" href="#">Literatur</a></li>
						<li role="representation"><a role="menuitem" class="pointer" tabindex="-1" ng-click="openInsertForm('plan')">Pläne</a></li>
						<li role="representation"><a role="menuitem" tabindex="-1" href="#">Vermessungen</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation" class="dropdown-header">Weiche Quellen</li>
						<li role="representation"><a role="menuitem" tabindex="-1" href="#">Vergleichsbauten</a></li>
						<li role="representation"><a role="menuitem" class="pointer" tabindex="-1" ng-click="openInsertForm('picture')">Bilder</a></li>
						<li role="representation"><a role="menuitem" tabindex="-1" href="#">Skizzen</a></li>
						<li role="representation"><a role="menuitem" tabindex="-1" href="#">Internet</a></li>
					</ul>
				</div>
			</div> -->
			<!-- <div class="ctrlGroup resGroup">
				<div class="dropdown">
					<button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownSources" data-toggle="dropdown">
						3D-Modell hochladen
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownSources">
						<li role="representation"><a role="menuitem" class="pointer" tabindex="-1" ng-click="openInsertForm('model')">3D-Modell</a></li>
					</ul>
				</div>
			</div> -->
		</div>
		
		<!-- Tabs der einzelnen Quellenarten -->
		<ul class="tabs" role="tablist">
			<li ng-class="(sourcesSettings.activeTab == '') ? 'active' : ''" ng-click="sourcesSettings.activeTab = ''"><a>Alle</a></li>
			<li ng-class="(sourcesSettings.activeTab == 'plan') ? 'active' : ''" ng-click="sourcesSettings.activeTab = 'plan'"><a>Pläne</a></li>
			<li ng-class="(sourcesSettings.activeTab == 'picture') ? 'active' : ''" ng-click="sourcesSettings.activeTab = 'picture'"><a>Bilder</a></li>
			<li ng-class="(sourcesSettings.activeTab == 'text') ? 'active' : ''" ng-click="sourcesSettings.activeTab = 'text'"><a>Texte</a></li>
		</ul>
	</div>
	
	<div class="sourcesColumnContent">
		
		
		<div class="blindSource">
		<div class="resultItem">
			<div class="thumbnail">
				<div class="dropArea" uploader="sourcesUploader" nv-file-drop="" nv-file-over="" ng-click="openInsertForm('source')">
					<div>Quellen einfügen</div>
					<div class="plus" ng-bind-html="plusSign"></div>
					<div>Klicken oder hier ablegen</div>
				</div>
				<!--<div class="caption">
					<span>Quellen einfügen</span>
					<p>Quellen einfügen</p>
				</div>-->
			</div>
		</div>
		</div>
		
		<div class="sources" horizontal-scroll>
			<div class="resultItem" ng-repeat="p in sourceResults | filter: {type: sourcesSettings.activeTab} | filter: sourcesSettings.filterBy | orderBy: [sourcesSettings.orderBy,'title']:sourcesSettings.reverse as filteredSourceResults" ng-click="selectResultItem($event, p)">
				<div class="thumbnail" ng-class="(p.selected) ? 'selected' : ''" title="{{p.title}}" ng-dblclick="openSourceDetail($index)">
					<img ng-src="data/{{p.file.path}}_thumbs/{{p.file.thumb}}"/>
					<div class="caption">
						<span>{{ p.title | characters:23:true }}</span>
						<p>{{p.author || 'unbekannt'}} &ensp; {{p.date}}</p>
					</div>
					
					<div class="btnBar">
						<a title="Details ansehen" ng-click="openSourceDetail($index)"><span class="glyphicon glyphicon-zoom-in"></span></a>
						<a ng-if="p.type == 'plan' && p.plan3d && !p.plan3d.meshId" title="In 3D-View laden" ng-click="open3DPlan(p)"><span class="glyphicon glyphicon-open"></span></a>
						<a ng-if="p.type == 'plan' && !p.plan3d" title="3D-Plan importieren" ng-click="openInsertForm('zip', p)"><span class="glyphicon glyphicon-import"></span></a>
						<!--<button ng-click="callDirFunc.loadPlanIntoScene('data/Proj_Muristan/plans/models/', p.obj);">load</button>
						<button ng-click="highlightObj(p.eid)">highlight</button>
						<a ng-href="data/Proj_Muristan/plans/{{p.jpg}}" target="_blank">open</a>-->
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- rechte Spalte (Vorschaufenster -->
<div class="previewPanel">
	
	<img src="img/navigation_legend200.png"/>
	
	<div class="debugBtns">
		<button ng-click="loadModelsWithChildren()">load MWC</button>
		<button ng-click="openInsertForm('model')">upload model</button>
		<button ng-click="getIndex()">get index</button>
		<button ng-click="indexDocuments()">index</button>
		<button ng-click="searchText('Vestibül')">search</button>
		<button ng-click="openIndexEdit()">index modal</button>
		
		<button ng-click="resizerValue = 800">resizerAnim</button>
	</div>
	
	
	<!--
	<button ng-click="callDirFunc.saveSelected(); clickdebug();">Save selection</button>
	-->
	<!-- <p>Ansicht drehen: Alt + linke Maustaste<br/>
	Ansicht verschieben: mittlere Maustaste<br/>
	Zoomen: Mausrad
	</p> -->
	
	<!--<p>
	<button ng-click="callDirFunc.loadScene('muristan')">Muristan</button>
	<button ng-click="callDirFunc.loadScene('rekonstr')">Rekonstruktion</button>
	<button ng-click="callDirFunc.loadScene('fribourg')">Fribourg</button>
	<!--<select ng-model="project" ng-init="project = 'Proj_Muristan'">
		<option>Proj_Muristan</option>
		<option>Proj_Zwinger</option>
		<option>Proj_Fribourg</option>
	</select>
	</p>-->

	<!--<p>
	<button disabled ng-click="insertObjects()">insert Objects</button>
	<button disabled ng-click="insertPlans()">insert Plans</button>
	<button disabled ng-click="connectObjPlan()">connect Obj Plan</button>
	</p>-->
	<p>
	<!--<button ng-click="loadMuristan()">Load Muristan</button>
	<button ng-click="loadPlans()">Load Plans</button>
	<button ng-click="loadModels()">Load Models</button>-->
	<!--<button ng-click="loadModelsWithChildren()">Load ModelsWChildren</button>-->
	</p>
	<!--<p>
	<button ng-click="getAllPlans()">getAllPlans</button>
	<button ng-click="getPlansForObj()">getPlansForObj</button>
	<button ng-click="getAllDocuments()">getAllDocuments</button>-->
	
	
	<!--<button ng-click="loadZwinger()">loadZwinger</button>-->
	<!--<button ng-click="logModels()">log models</button>-->
	<!-- <button ng-click="openInsertForm('model')">upload 3D model</button> -->
	

	
</div>

<div class="resizer-v" resizer="vertical" resizer-left=".sourcesPanel" resizer-left-min="780" resizer-right=".previewPanel" resizer-right-min="280" resizer-anim="resizerValue"></div>

</div>

<div class="resizer-h" resizer="horizontal" resizer-top=".explorerUpperHalf" resizer-top-min="400" resizer-bottom=".explorerLowerHalf" resizer-bottom-min="234" resizer-end="wi.callFunc.resize"></div>



<!-- alert -->
<div ng-if="alert.showing" alert="alert" class="alert alert-warning" role="alert"></div>


<!--
<div class="media" data-ng-click="highlightModels($index)" data-ng-repeat="document in plans">
	<div class="pull-left " style="width:150px; height:80px;overflow:hidden;">
	<a href="{{document.uri}}" target="_blank" class="thumbnail">
		<img class="media-object" style="max-height:70px;" ng-src="{{document.uri}}"/>
	</a>
	</div>
	<div class="media-body">
		<h4>{{document.content}}</h4>
		<span data-ng-repeat="refdoc in document.refdocs">
			<span class="label label-default">{{refdoc.content}}</span>&nbsp;
		</span>
	</div>
</div>
-->