<div class="leftHalf" ng-if="!isMaster">
	<div class="page-header">
		<h1>{{projInfo.name}} <small>{{projInfo.description}}</small></h1>
	</div>
	
	<div class="projInfos" ng-repeat="info in projInfo.notes | orderBy: 'order' as filteredInfos">
		<div class="infoText" ng-bind-html="info.info"></div>
		<div class="infoCtrls">
			<i class="fa fa-sort-asc" ng-hide="$first" ng-click="swapInfoOrder($index, $index-1)"></i>
			<i class="fa fa-pencil" ng-click="openEditor(info.id, info.info)"></i>
			<i class="fa fa-trash" ng-click="removeProjInfo(info.id)"></i>
			<i class="fa fa-sort-desc" ng-hide="$last" ng-click="swapInfoOrder($index, $index+1)"></i>
		</div>
	</div>
	
	<button ng-if="!editor.show" class="btn btn-default btn-sm" ng-click="openEditor()">Info hinzufügen</button>
	
	<div ng-if="editor.show" class="editor">
		<div text-angular ta-toolbar="[['h3','p','quote'],['bold','italics','underline','ul','ol'],['undo','redo'],['html','insertLink']]" ng-model="editor.input"></div>
		
		<button class="btn btn-primary btn-sm" ng-click="editor.edit ? editProjInfo() : addProjInfo()">Speichern</button>
		<button class="btn btn-default btn-sm" ng-click="closeEditor()">Abbrechen</button>
		<button class="btn btn-default btn-sm" ng-click="outputInput()">Log input</button>
	</div>
	
</div>

<div class="leftHalf" ng-if="isMaster">

	<div class="page-header">
		<h1>{{projInfo.name}} <small>{{projInfo.description}}</small></h1>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Unterprojekte</h3>
		</div>
		<div class="panel-body">

			<div ng-show="!subprojects.length">
				<p>Keine Unterprojekte vorhanden.</p>
				<p>Unterprojekte können helfen, das Projekt zu strukturieren, z.B. wenn das Projekt mehrere Zeitschnitte aufweißt.</p>
			</div>

			<table class="table table-striped" ng-show="subprojects.length">
				<thead>
					<tr>
						<th width="300">Name</th>
						<th>Beschreibung</th>
						<th width="300"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="sp in subprojects | orderBy: 'title'">
						<td>{{sp.title}}</td>
						<td>{{sp.desc}}</td>
						<td>
							<button class="btn btn-primary btn-xs" ui-sref="project.home({ subproject: sp.subId })"><i class="fa fa-folder-open"></i> Öffnen</button>
							<button class="btn btn-default btn-xs" ui-sref="project.home.subproject.edit({ subId: sp.subId, name: sp.title, desc: sp.desc })"><i class="fa fa-pencil"></i> Bearbeiten</button>
							<button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Löschen</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<button class="btn btn-primary" ui-sref="project.home.subproject.new"><i class="fa fa-plus"></i> Neues Unterprojekt</button>

</div>

<div class="rightHalf" ng-if="isMaster">

</div>