<div class="projectAll">

	<div class="prjSideNav">

		<div class="smLogo">
			<img src="img/dokuvis_logo-mini.png"/>
		</div>
		
		<div title="Explorer" class="smBtn" ui-sref="project.explorer" ui-sref-active="active">
			<span class="glyphicon glyphicon-picture"></span>
		</div>
		<div title="Aufgaben" class="smBtn" ui-sref="project.tasks" ui-sref-active="active">
			<span class="glyphicon glyphicon-tasks"></span>
		</div>
		<div class="smBtn" title="sonstiges">
			<span class="glyphicon glyphicon-list-alt"></span>
		</div>
		<div class="smBtn" title="Hilfe">
			<span class="glyphicon glyphicon-question-sign"></span>
		</div>

	</div>

	<div class="prjMainContainer" ui-view></div>
	
	<!-- insertForm -->
	<div ng-include="overlayParams.url" class="overlayPanel" ></div>
	
</div>