<!-- Seitenmenü -->
<div class="prjSideNav">

	<div class="smLogo">
		<img src="img/dokuvis_logo-mini.png"/>
	</div>
	
	<div title="Home" class="smBtn" ui-sref="project.home" ui-sref-active="active">
		<span class="glyphicon glyphicon-home"></span>
	</div>
	<div title="Explorer" class="smBtn" ui-sref="project.explorer" ui-sref-active="active">
		<span class="glyphicon glyphicon-picture"></span>
	</div>
	<div title="Aufgaben" class="smBtn" ui-sref="project.tasks" ui-sref-active="active">
		<span class="glyphicon glyphicon-tasks"></span>
	</div>
	<div class="smBtn" title="Graphensuche" ui-sref="project.graph" ui-sref-active="active">
		<span class="fa fa-code-fork"></span>
	</div>
	<div class="smBtn" title="Ressourcen" ui-sref="project.resources" ui-sref-active="active">
		<span class="glyphicon glyphicon-list-alt"></span>
	</div>
	<div class="smBtn" title="Einstellungen" ui-sref="project.config" ui-sref-active="active">
		<span class="fa fa-cog"></span>
	</div>
	
	<div class="smSpace"></div>
	
	<div class="smBtn" title="Hilfe">
		<span class="glyphicon glyphicon-question-sign"></span>
	</div>
	<div class="smBtn" title="Projektübersicht" ng-click="toProjectList()">
		<span class="glyphicon glyphicon-menu-hamburger"></span>
	</div>
	<div class="smBtn" title="Ausloggen">
		<span class="glyphicon glyphicon-log-out"></span>
	</div>

</div>

<!-- Seite -->
<div class="prjMainContainer" ui-view></div>

<!-- Modal (Dialogfenster) -->
<!--<div ng-include="overlayParams.url" class="modal" ></div>-->
<!--<div class="modal" ui-view="modal"></div>-->
