<div ng-include="'partials/navbar.html'"></div>

<div class="container">
	<div class="page-header">
		<h2>Projekte</h2>
	</div>
	
	<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Übersicht</h3>
		</div>
		<div class="panel-body">
		
			<span ng-if="projects.length < 1">Keine Projekte vorhanden</span>
		
			<table ng-if="projects.length > 0" class="table table-striped">
			<thead>
				<tr>
					<th width="200">Name</th>
					<th>Beschreibung</th>
					<th width="100"></th>
					<th width="100"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in projects | orderBy: 'name'">
					<!--<td>{{p.pid}}</td>-->
					<td>{{p.name}}</td>
					<td> <a href="#" editable-text ="p.description" onaftersave = "updateProjectDescription($data,p.pid)">{{p.description}}</a></td> <!--ng-click="editProject(p.description,$event)"-->
					<td><a ui-sref="project.home({ project: p.proj, subproject: 'master' })" target="_blank">öffnen</a></td>
					<td><a ng-click="deleteProject(p.proj)">löschen</a></td>
					
				</tr>
				
			</tbody>
			</table>
			
		</div>
	</div>
	</div>
	
	<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Neues Projekt</h3>
		</div>
		<div class="panel-body">
			<form>
				<div class="form-group" ng-class="newProject.nameError?'has-error':''">
					<label for="projName" class="control-label">Projektname</label>
					<input type="text" class="form-control" id="projName" ng-model="newProject.name"/>
				</div>
				<div class="form-group">
					<label for="projDescription">Beschreibung (optional)</label>
					<textarea class="form-control" rows="3" id="projDescription" ng-model="newProject.description"></textarea>
				</div>
				<button class="btn btn-default" ng-click="createNewProject()">Projekt erstellen</button>
			</form>
		</div>
	</div>
	</div>

</div>