<div class="screenshotDetail" ng-controller="screenshotDetailCtrl">
	
	<div class="closeXBtn" ng-click="$parent.closeOverlayPanel()">
		 <span class="glyphicon glyphicon-remove"></span>
	</div>
	
	
	<div class="padding">
	
	<div class="upperleftDiv" ng-style="{height: params.data.height, width: params.data.width}">
		<img data-ng-src="{{params.data.dataUrl}}"/>
	</div>
	
	<!-- Layer mit Markern -->
	<div class="markerLayer" ng-mousedown="setMarker($event)" ng-style="{height: params.data.height, width: params.data.width}">
		<div class="marker" ng-repeat="m in markers" ng-style="m.styleMarker" drag drag-enabled="!m.isInserted" drag-data="m" drag-complete="updateMarker" drag-abort="setFocusOnComment" drag-leave-parent="deleteMarker">
			<img class="markerSign" src="img/map-marker.svg"/>
			<span class="badge markerBadge">{{$index+1}}</span>
		</div>
	</div>

	
	<div class="lowerleftDiv" ng-style="{top: params.data.height, width: params.data.width}">
		
	</div>
	
	<div class="upperrightDiv" ng-style="{left: params.data.width, height: params.data.height}">
		<div class="heading">
			<h3>Screenshot kommentieren</h3>
			<hr/>
			<ol>
				<li>Marker setzen</li>
				<li>Kommentieren</li>
			</ol>
		</div>
		<div class="markerComments">
			<div class="comment" ng-repeat="m in markers">
				<div class="commentLeft">
					<img ng-style="{width: 25, height: 25}" src="img/map-marker.svg"/><br/>
					<span class="badge">{{$index+1}}</span>
				</div>
				<div class="commentRight form-group">
					<span ng-if="!m.isInserted" class="glyphicon glyphicon-trash commentBtn" ng-click="markers.splice($index,1)"></span>
					<label>Kommentar</label>
					<textarea ng-if="!m.isInserted" id="{{'markerComment'+$index}}" class="form-control" ng-model="m.comment" rows="3"></textarea>
					<p ng-if="m.isInserted">{{m.comment}}</p>
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="lowerrightDiv" ng-style="{top: params.data.height, left: params.data.width}">
		<button class="btn btn-primary" ng-click="saveScreenshot()">Speichern</button>
		<button class="btn btn-default" ng-click="$parent.closeOverlayPanel()">Abbrechen</button>
	</div>
	
	
	
	</div>
	
	
	
	
	
	
	
	
	
	
</div>