<div class = "tasksLeftHalf">
	
	      
	
	<div gantt data=data
		 from-date = "options.fromDate"
         to-date = "options.toDate">
	  <gantt-table enabled = "true" 
	  				columns = "options.columns"
	  				headers="options.columnsHeaders"
	  				formatters="options.columnsFormatters">
	  </gantt-table>
	  			
	  <gantt-tree enabled="options.sideMode === 'Tree' || options.sideMode === 'TreeTable'"
                  header-content="options.treeHeaderContent"
                  keep-ancestor-on-filter-row="true">
      
      </gantt-tree>
      
       <gantt-groups enabled="options.groupDisplayMode === 'group' || options.groupDisplayMode === 'overview' || options.groupDisplayMode === 'promote'" display="options.groupDisplayMode">
       </gantt-groups>
	  
	  <gantt-bounds></gantt-bounds>
      <gantt-progress></gantt-progress>
      <gantt-sortable></gantt-sortable>
	  <gantt-movable></gantt-movable>
	  <gantt-tooltips></gantt-tooltips>
	  <gantt-draw-task enabled="true" task-factory="drawTaskFactory"></gantt-draw-task>
	  <gantt-overlap></gantt-overlap>
	  <gantt-resize-sensor></gantt-resize-sensor>
	</div>
	<hr/>
	 
	 <button type="button" class="btn btn-default" ng-click="addNewTask()" >Neue Aufgabe hinzufügen</button>
    
    <div class="col-xs-3">
	    <input type="text" class="form-control" ng-model="options.fromDate" max-date="{{options.toDate}}" start-date="{{options.currentDateValue.toString()}}" start-week="1" placeholder="From" bs-datepicker>
	    
	    <input type="text"  class="form-control" ng-model="options.toDate" min-date="{{options.fromDate}}" start-date="{{options.currentDateValue.toString()}}" start-week="1" placeholder="To" bs-datepicker>
             
     </div>                          
	
</div>

<div class="resizer-v" resizer="vertical" resizer-width="6" resizer-left=".viewportPanel" resizer-left-min="780" resizer-right=".sidePanel" resizer-right-min="380" resizer-end="wi.callFunc.resize"></div>

<div class = "tasksRightHalf">
	<!--<p>test</p>-->
	
	<div title = "staffContainer" class = "sideContainer">
			<!--Mitarbeitertabelle-->
		<!--<div ng-if="views.activeSide == 'staff'" class="sideContainer">-->
			<div class="sideHeader">
				<h4>Mitarbeiter</h4>
				<hr/>
				
			</div>
		
			<div class = "sideContent">
			<p>test</p>
				<span ng-if="staff.length < 1">Keine Mitarbeiter vorhanden</span>
				<table ng-if="staff.length > 0" class="table table-striped"> 
				
				
				<thead>
					<tr>
						<th width="15">Vorname</th>
						<th width="15">Nachname</th>
						<th width="15">Mail</th>
						<th width="15">Role</th>
						<!--<th width="15">Projects</th>-->
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="s in staff | orderBy: 'name'">
						<td>{{s.name}}</td>
						<td>{{s.surname}}</td>
						<td>{{s.mail}}</td>
						<td>{{s.role}}</td>
						<!--<td>{{s.projects}}</td>-->
						<td><button type="button" class="btn btn-default" ng-click=removeStaff(s.name,s.surname)>Löschen</button></td>
						
					</tr>
					
				</tbody>
				</table>
			
				<div class="btn-group btn-group-s">
					<button type="button" class="btn btn-default" ng-click="openAddStaff('staff')" >Hinzufügen</button>
				</div>
		
			</div>
			
		</div>
	
		
	<div class="sidePanelSidemenu">
		<div title="Mitarbeiter" class="smBtn" ng-class="views.activeSide=='staff'?'active':''" ng-click="views.activeSide = 'staff'">
			<span class="glyphicon glyphicon-user"></span>
		</div>
	</div>
	
</div>