<div class="listItem" ng-class="{selected: data.selected}" id="list{{data.id}}">
	<span class="glyphicon glyphicon-eye-open toggle" ng-class="data.visible ? 'show' : 'hide'" ng-click="data.visible=!data.visible; callDirFunc.toggleObject(data);"></span>
	<div class="expand" ng-style="{'flex-basis': (depth*20+15)+'px'}" ng-click="data.expand = !data.expand;"><span ng-class="(data.children.length > 0) ? (data.expand ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus') : ''" ></span></div>
	<span class="info" ng-click="wi.callFunc.selectObjectById(data.id, $event);">{{data.title}} ({{data.id}}) {{depth}}</span>
	<!--<div class="listString" ng-style="{'padding-left': (depth*20+5)+'px'}" >
		<div class="listExpand"><span ng-class="(data.children.length > 0) ? (data.expand ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus') : ''" ng-click="data.expand = !data.expand;"></span></div>
		<span ng-click="wi.callFunc.selectObjectById(data.id, $event);">{{data.title}} ({{data.id}}) {{depth}}</span>
	</div>-->
</div>
<div ng-if="data.expand && data.children.length > 0" class="listChildren">
	<div ng-repeat="data in data.children | orderBy: 'name'" ng-init="depth=depth+1" ng-include="'partials/tree_item_renderer.html'"></div>
</div>
