<div class="container">
	<div id="viewport" webgl-view obj-models="models" selected-models="selected" highlighted-models="highlighted" plan-opacity="opacity">
	    
			<!--<div id="loadprogress">
				Loading scene ...
				
			</div>-->
    	<div id="loadprogressbar"></div>
	</div>
	
	<input ng-model="opacity" ng-init="opacity = 1.0"/>
	
	<div id="selectedOBJS">
		<p data-ng-repeat="selectedModel in selected">{{selectedModel}}</p>
	</div>

	<div class="media" data-ng-click="highlightModels($index)" data-ng-repeat="document in plans">
		<div class="pull-left " style="width:150px; height:80px;overflow:hidden;">
		<a href="{{document.uri}}" target="_blank" class="thumbnail">
			<img class="media-object" style="max-height:70px;" ng-src="{{document.uri}}"/>
		</a>
		</div>
		<div class="media-body">
			<h4>{{document.content}}</h4>
			<span data-ng-repeat="refdoc in document.refdocs">
				<span class="label label-default">{{refdoc.content}}</span>&nbsp;
			</span>
		</div>
	</div>
</div>