<div class="nodeDetails">
	<h4>Node ({{selectedNode.id}})</h4>

	<div>
		<strong>Labels:</strong>
		<span ng-repeat="label in selectedNode.labels">{{ $index ? ',' : '' }} {{ label }}</span>
	</div>
	<div>
		<strong>Properties:</strong>
		<div class="property" ng-repeat="(key, value) in selectedNode.properties">
			<div class="key">{{ key }}:</div>
			<div class="value">{{ value }}</div>
		</div>
	</div>
	<div ng-show="selectedNode.labels.indexOf('E31') > -1">
		<strong>Link:</strong>
		<a ui-sref="project.graph.source.id({ sourceId: selectedNode.properties.content })">zur Quelle</a>
	</div>
</div>

<div class="options">
	<h4>Optionen</h4>

	<div>
		<strong>Transparenz</strong>
		<slider ng-model="nodeTransparency" floor="10" ceiling="100" step="5"></slider>
		{{nodeTransparency}}
	</div>
</div>
