<div class="modal-content">
	
	<div class="modal-header" ng-show="title">
		<button type="button" class="close" aria-label="Close" ng-click="close()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" ng-bind="title"></h4>
	</div>
	
	<div class="modal-body categoryEdit">
	
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="35%">Kategorie</th>
					<th width="55%">Attribute</th>
					<th width="10%"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="c in categories">
					<td><div>
						<span editable-text="c.value" e-form="xeditC" onaftersave="updateCategory(c)">{{c.value}}</span>
						<i class="fa fa-pencil" ng-click="xeditC.$show()" ng-hide="xeditC.$visible"></i>
					</div></td>
					<td>
						<div ng-repeat="a in c.attributes" class="attribute">
							<i class="pull-right fa fa-times" ng-click="removeAttribute(c,a)"></i>
							<input type="hidden" minicolors="minicolors" ng-model="a.color" ng-change="updateAttribute(a)"/>
							<span editable-text="a.value" e-form="xeditValue" onaftersave="updateAttribute(a)">{{a.value}}</span>
							<i class="fa fa-pencil" ng-click="xeditValue.$show()" ng-hide="xeditValue.$visible"></i>
						</div>
						<div class="addAttribute">
							<input type="text" ng-model="c.newAttribute"/>
							<i class="fa fa-plus-circle" ng-click="addAttribute(c)"></i>
						</div>
					</td>
					<td>
						<i class="fa fa-trash" ng-click="removeCategory(c)"></i>
					</td>
				</tr>
				<tr>
					<td class="addCategory">
						<input type="text" ng-model="newCategory"/>
						<i class="fa fa-plus-circle" ng-click="addCategory()"></i>
					</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="close()">OK</button>
	</div>
	
</div>
