<div class="modal-content">
	
	<div class="modal-header" ng-show="title">
		<button type="button" class="close" aria-label="Close" ng-click="$hide()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" ng-bind="title"></h4>
	</div>
	
	<div class="modal-body">
		
		<div  ng-if = "subproject == 'master'" class="form-group text-left" >
				<label class="control-label">Unterprojekt</label><br>
				<select class="form-control" style="width: 8em" ng-model="newTask.subprj">
				   <option value='' selected='' >Bitte wählen Sie ein Unterprojekt aus</option>
				   <option ng-repeat= "sub in subprojects" value={{sub.subId}}>{{sub.title}}</option> 
				 </select> 
			</div>
			
			<!-- <p>{{newTask.subprj}}</p> -->

			<div class="row buffer">
					<div class="col-md-6">
						  <div class="form-group">
							<label for="staff">Bearbeiter</label>
							<select class="form-control"  ng-model="newTask.ids.graph" id= "staff">
							   <option value="">Bitte wählen Sie einen Bearbeiter aus</option>
							   <option ng-repeat= "s in staff" value="{{s.sid}}">{{s.name}}</option> 
							 </select> 
							</div>		
					
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
							<label for="task">Aufgabenname</label>
							<input type="text" class="form-control"  ng-model="newTask.task" id= "task">
						</div>
					</div>	
			</div>
			
		
		<div class="row buffer">
			<div class="col-md-3">
				 <div class="form-group">
					<label for="from">Von</label>
					<input  type="text" id="from" class="form-control" ng-model="newTask.from" bs-datepicker data-autoclose=true data-date-format="dd.MM.yy" data-startDate="today">
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="form-group">
					<label for="to">Bis</label>
					<input type="text" id = "to" class="form-control" ng-model="newTask.to" bs-datepicker data-autoclose=true data-date-format="dd.MM.yy">
				</div>
			</div>
			
<!-- 			<div class="col-md-6 ">
				<div class="form-group">
					<label for="status">Status</label>
						<div id = "status" class="checkbox ">
							<label><input type="checkbox" value="">erledigt</label>
						</div>
				</div>
			</div> -->
			
		</div>
		
		<div class="row buffer">
			<div class="col-md-12">
				<div class="form-group">
						<label for="desc">Beschreibung</label>
					<textarea id = "desc" class="form-control" rows="6" ng-model="newTask.desc" ></textarea>
				</div>
			</div>
		</div>
			
	</div>
	
	<div class="modal-footer">
		<div class="col-md-12">
			<button type="button" class="btn btn-info btn-md gradient" bs-tooltip="tooltip[1]" ng-click="addNewTask(newTask)" ><i class="fa fa-plus"></i></button>
		</div>
	</div>
	
</div>