<div class="modal-content">

	<div class="modal-header" ng-show="title">
		<h4 class="modal-title" ng-bind="title"></h4>
	</div>

	<div class="modal-body">

		<div class="bs-callout bs-callout-default bs-callout-sm" ng-show="parentName || attachNote">
			<span ng-show="parentName">Aufgabe wird als Unteraufgabe von <strong>{{ parentName }}</strong> erstellt.</span>
			<span ng-show="attachNote">{{ attachNote }}</span>
		</div>

		<form>
			<div class="form-group">
				<label for="taskTitle">Aufgabenname</label>
				<input type="text" class="form-control" id="taskTitle" ng-model="task.title"/>
			</div>

			<div class="row">
				<div class="col-md-3 form-group">
					<label for="taskFrom"><i class="fa fa-calendar"></i> Von</label>
					<input type="text" class="form-control" id="taskFrom" ng-model="task.from" bs-datepicker data-date-format="dd.MM.yyyy" data-model-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="true"/>
				</div>
				<div class="col-md-3 form-group">
					<label for="taskTo"><i class="fa fa-calendar"></i> Bis</label>
					<input type="text" class="form-control" id="taskTo" ng-model="task.to" bs-datepicker data-date-format="dd.MM.yyyy" data-model-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="true"/>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<label>Priorität</label>
					<div class="btn-group">
						<button class="btn btn-default task-priority-low" ng-class="{active: task.priority === 0}" ng-click="task.priority = 0">Niedrig</button>
						<button class="btn btn-default task-priority-medium" ng-class="{active: task.priority === 1}" ng-click="task.priority = 1">Mittel</button>
						<button class="btn btn-default task-priority-high" ng-class="{active: task.priority === 2}" ng-click="task.priority = 2">Hoch</button>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>Bearbeiter</label>
				<tags-input ng-model="task.editors" on-tag-adding="checkEditor($tag)" display-property="name" placeholder="Namen eingeben">
					<auto-complete source="searchEditors($query)" display-property="name" debounce-delay="200" select-first-match="true"></auto-complete>
				</tags-input>
			</div>

			<div class="form-group">
				<label for="taskDesc">Beschreibung</label>
				<textarea class="form-control" id="taskDesc" rows="6" ng-model="task.description"></textarea>
			</div>
		</form>

	</div>

	<div class="modal-footer">
		<div class="modal-metadata">
			<div ng-show="task.created && task.created.id">created by {{task.created.name}} - {{task.created.date | amCalendar}}</div>
			<div ng-show="task.modified && task.modified.id">modified by {{task.modified.name}} - {{task.modified.date | amCalendar}}</div>
		</div>

		<button type="button" class="btn btn-primary" ng-click="save()">{{'save' | translate}}</button>
		<button type="button" class="btn btn-default" ng-click="close()">{{'abort' | translate}}</button>
		<button type="button" class="btn btn-danger" ng-hide="newTask" ng-click="delete()">{{'delete' | translate}}</button>
	</div>

</div>
