/.idea
/.tmp
/data
/tmp
/app/bower_components
/app/node_modules
/app/dist
/app/php/tesseract.exe.stackdump
/app/php/globalpaths.php
/rest-api/node_modules
/rest-api/logs/
/rest-api/config.js
/rest-api/npm-debug.log
/virtual-servers.md