.no_margin {
	margin: 0;
}

.margin20 {
	margin: 20px;
}

.overflowauto {
	overflow: auto;
}

.floatleft {
	float: left;
}

.pointer {
	cursor: pointer;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

div[ng-view],
.mainView {
	position: relative;
	height: 100%;
}

/** {
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}*/


/* ng-scrollbars Anpassungen */
.mCSB_inside>.mCSB_container {
	margin-right: 6px;
	padding-right: 10px;
	padding-left: 10px;
}


/* Modal-Anpassungen */
.modal-backdrop {
	opacity: 0.2;
}
.modal-backdrop.level2 {
	z-index: 1400;
}
.modal {
	overflow: auto;
	outline: none;
}
.modal-dialog.large {
	height: 100%;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px;
}
.modal-dialog.xlarge {
	height: 100%;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 30px;
}
.modal.level2 {
	z-index: 1500;
}
.modal.level2>.modal-dialog {
	padding: 60px;
}

.modal-dialog.large > .modal-content,
.modal-dialog.xlarge > .modal-content {
	position: relative;
	height: 100%;
}
.modal-dialog.large > .modal-content,
.modal-dialog.xlarge > .modal-content {
	display: flex;
	flex-direction: column;
}
.modal-dialog.large > .modal-content > .modal-header,
.modal-dialog.xlarge > .modal-content > .modal-header,
.modal-dialog.large > .modal-content > .modal-footer,
.modal-dialog.xlarge > .modal-content > .modal-footer {
	flex: 0 0 auto;
}
.modal-dialog.large > .modal-content > .modal-body,
.modal-dialog.xlarge > .modal-content > .modal-body {
	flex: 1 1 auto;
}