.no_margin {
	margin: 0;
}

.margin20 {
	margin: 20px;
}

.overflowauto {
	overflow: auto;
}

.floatleft {
	float: left;
}

.pointer {
	cursor: pointer;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

div[ng-view],
.mainView {
	position: relative;
	height: 100%;
}

/** {
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}*/

.modal {
	overflow: auto;
	outline: none;
}
.modal-backdrop {
	opacity: 0.2;
}