.no_margin {
	margin: 0;
}

.margin20 {
	margin: 20px;
}

.overflowauto {
	overflow: auto;
}

.floatleft {
	float: left;
}

.pointer {
	cursor: pointer;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

div[ng-view],
.mainView {
	position: relative;
	height: 100%;
}

/** {
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}*/

/* Modal-Anpassungen */
.modal-backdrop {
	opacity: 0.2;
}
.modal {
	overflow: auto;
	outline: none;
}
.modal-dialog.large {
	height: 100%;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px;
}
.modal-dialog.large > .modal-content {
	position: relative;
	height: 100%;
}
.modal-dialog.large > .modal-content {
	display: flex;
	flex-direction: column;
}
.modal-dialog.large > .modal-content > .modal-header,
.modal-dialog.large > .modal-content > .modal-footer {
	flex: 0 0 auto;
}
.modal-dialog.large > .modal-content > .modal-body {
	flex: 1 1 auto;
}