.vpPanelContainer {
  position: absolute;
  width: 280px;
  top: 0;
  right: -280px;
  background-color: rgba(51, 51, 51, 0.8);
  font-size: 8pt;
  color: #fafafa;
  border-left: 1px solid #999;
  transition: right 0.5s; }
  .vpPanelContainer.expand {
    right: 0; }
  .vpPanelContainer.ng-hide {
    right: -300px; }
  .vpPanelContainer .expandContainerBtn {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 0;
    left: -20px;
    background-color: rgba(51, 51, 51, 0.8);
    font-size: 8pt;
    padding: 6px 4px 0;
    color: #999;
    cursor: pointer; }
    .vpPanelContainer .expandContainerBtn:hover {
      color: #fafafa; }
    .vpPanelContainer .expandContainerBtn .expandContainerLabel {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      transform-origin: 0 0;
      position: absolute;
      width: 120px;
      height: 19px;
      top: 139px;
      left: 0;
      padding: 2px 5px;
      text-align: center;
      background-color: rgba(51, 51, 51, 0.8);
      border-top-left-radius: 5px; }
  .vpPanelContainer .ctrlPanel {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #999; }
    .vpPanelContainer .ctrlPanel .ctrlPanel-heading {
      background-color: rgba(100, 100, 100, 0.8);
      font-weight: bold;
      padding: 5px 15px;
      cursor: pointer; }
      .vpPanelContainer .ctrlPanel .ctrlPanel-heading .expandButton {
        float: right;
        padding-top: 1px;
        height: 14px; }
    .vpPanelContainer .ctrlPanel .ctrlPanel-body {
      max-height: 300px; }
      .vpPanelContainer .ctrlPanel .ctrlPanel-body > div {
        padding: 10px;
        border-top: 1px solid #999;
        overflow: hidden;
        opacity: 1; }
      .vpPanelContainer .ctrlPanel .ctrlPanel-body.collapse.am-collapse {
        animation-duration: 0.5s;
        animation-timing-function: ease;
        animation-fill-mode: backwards;
        overflow: hidden; }
        .vpPanelContainer .ctrlPanel .ctrlPanel-body.collapse.am-collapse.in-remove {
          animation-name: collapse;
          display: block; }
        .vpPanelContainer .ctrlPanel .ctrlPanel-body.collapse.am-collapse.in-add {
          animation-name: expand; }
      .vpPanelContainer .ctrlPanel .ctrlPanel-body [ng-scrollbars] {
        padding: 10px 0;
        height: 300px; }
      .vpPanelContainer .ctrlPanel .ctrlPanel-body .mainOptionGroup {
        position: relative;
        margin: 5px 0;
        padding: 0 10px; }
      .vpPanelContainer .ctrlPanel .ctrlPanel-body .mainOptionGroup + .optionGroup {
        margin-top: 8px; }
      .vpPanelContainer .ctrlPanel .ctrlPanel-body .optionGroup {
        position: relative;
        margin: 13px 0 8px;
        padding: 10px 10px 4px;
        border: 1px solid #333;
        border-radius: 3px; }
        .vpPanelContainer .ctrlPanel .ctrlPanel-body .optionGroup .groupHeader {
          position: absolute;
          top: -7px;
          left: 4px;
          padding: 0 5px;
          background-color: #333;
          border-radius: 3px;
          color: #ddd;
          font-size: 7pt; }
        .vpPanelContainer .ctrlPanel .ctrlPanel-body .optionGroup #ramp {
          display: inline-block;
          width: 200px;
          height: 20px; }
        .vpPanelContainer .ctrlPanel .ctrlPanel-body .optionGroup #colorField {
          display: inline-block;
          width: 20px;
          height: 20px; }
      .vpPanelContainer .ctrlPanel .ctrlPanel-body slider {
        width: 140px;
        margin: 5px; }
      .vpPanelContainer .ctrlPanel .ctrlPanel-body label {
        display: block;
        padding-top: 2px;
        padding-bottom: 2px; }
      .vpPanelContainer .ctrlPanel .ctrlPanel-body input[type='radio'], .vpPanelContainer .ctrlPanel .ctrlPanel-body input[type='checkbox'] {
        margin-top: 1px;
        margin-right: 7px; }
      .vpPanelContainer .ctrlPanel .ctrlPanel-body select {
        padding: 0;
        height: 22px; }
      .vpPanelContainer .ctrlPanel .ctrlPanel-body table td {
        display: table-cell;
        padding-right: 6px; }
      .vpPanelContainer .ctrlPanel .ctrlPanel-body input[type="number"] {
        width: 44px; }

.vpPanelContainerHorizontal {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: -85px;
  background-color: rgba(51, 51, 51, 0.8);
  font-size: 8pt;
  color: #fafafa;
  border-left: 1px solid #999; }
  .vpPanelContainerHorizontal .expandContainerBtnHorizontal {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 0;
    left: 500px;
    font-size: 8pt;
    padding: 2px 4px 0;
    color: #999;
    cursor: pointer; }
    .vpPanelContainerHorizontal .expandContainerBtnHorizontal:hover {
      color: #fafafa; }
  .vpPanelContainerHorizontal .expandContainerBtnPhases {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 15px;
    left: 0;
    font-size: 8pt;
    padding: 2px 4px 0;
    color: #999;
    cursor: pointer; }
    .vpPanelContainerHorizontal .expandContainerBtnPhases:hover {
      color: #fafafa; }
  .vpPanelContainerHorizontal .labelComplete {
    position: absolute;
    top: 15px;
    left: 50px; }
  .vpPanelContainerHorizontal .labelText {
    position: relative;
    top: 0;
    left: 50px; }
  .vpPanelContainerHorizontal .labelColorSecure {
    position: absolute;
    top: 15px;
    left: 50px;
    width: 10px;
    height: 12px;
    background-color: #e4b849;
    border-radius: 5px; }
  .vpPanelContainerHorizontal .labelTable {
    position: absolute;
    top: 30px; }
  .vpPanelContainerHorizontal .row2 {
    position: absolute;
    opacity: 0;
    top: 45px; }
    .vpPanelContainerHorizontal .row2 .labelColorUnsecure {
      position: absolute;
      top: 1px;
      left: 100px;
      width: 10px;
      height: 10px;
      background-color: #e4b849;
      border-radius: 5px; }
      .vpPanelContainerHorizontal .row2 .labelColorUnsecure:hover {
        position: absolute;
        opacity: 0.5;
        border: dashed; }
  .vpPanelContainerHorizontal .timeSlider {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px; }
    .vpPanelContainerHorizontal .timeSlider .timeNumbers {
      position: absolute;
      top: 35px; }
  .vpPanelContainerHorizontal slider {
    position: absolute;
    left: 20px;
    width: 950px; }

.gradient-marker {
  position: absolute;
  background: #ffffff;
  width: 2px;
  height: 20px; }

/*# sourceMappingURL=panelContainer.css.map */
