.projectAll {
	width: 100%;
	height: 100%;
	/*display: flex;*/
}

.prjSideNav {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 36px;
	z-index: 50;
	
	color: #999;
	background-color: #333;
	border-right: 1px solid #000;
	
	display: flex;
	flex-direction: column;
}
.prjSideNav .smLogo {
	flex: 0 0 35px;
	/*height: 35px;*/
	background-color: #fc4e2a;
}
.prjSideNav .smBtn {
	flex: 0 0 35px;
	/*height: 35px;*/
	border-right: 2px solid rgba(252,78,42,0.5);
	
	padding: 7px;
	transition: border-right-color 0.3s, color 0.3s, background-color 0.3s;
}
.prjSideNav .smBtn:hover {
	border-right-color: rgba(252,78,42,1.0);
	background-color: #444;
	cursor: pointer;
	color: #ddd;
}
.prjSideNav .smBtn.active {
	border-right-color: rgba(252,78,42,1.0);
	background-color: rgba(252,78,42,0.5);
	cursor: pointer;
	color: #ddd;
}
.prjSideNav .smBtn span {
	font-size: 20px;
}
.prjSideNav .smSpace {
	flex: 1 1 35px;
}


.prjMainContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 36px;
	right: 0;
	z-index: 30;
	/*position: relative;*/
}

/* resizer */
.resizer-h {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 234px;
	height: 6px;
	cursor: n-resize;
}
.resizer-v {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 66%;
	width: 6px;
	cursor: e-resize;
}

.resizer-h, .resizer-v {
	background-color: #333;
}
.resizer-h:hover, .resizer-v:hover {
	background-color: #789;
}

/*resizer tasks*/
.resizer-vTask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 66%;
	width: 6px;
	cursor: e-resize;
}

.resizer-vTask.ng-enter {
  transition:0.5s linear all;
  left: 99.5;
 }

.resizer-vTask.ng-enter.ng-enter-active {
   left: 66%;
}

/*.resizer-vTask.ng-leave {
  transition:0.5s linear all;
  left:66%;
}

.resizer-vTask.ng-leave.ng-leave-active {
   left:99.5%;
}*/

.resizer-vTask {
	background-color: #333;
}
.resizer-vTask:hover {
	background-color: #789;
}

/* modal */
/*.modal {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 50px 0;
	/*background-image: url(../img/bg_schraffur2.png);
	background-repeat: repeat;*/
	/*background-color: rgba(128, 128, 128, 0.5);
	z-index: 100;
	
}*/
.closeXBtn {
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height:25px;
	padding: 3px 5px;
	background-color:#e68f8d;
	/*border: 1px solid #d43f3a;*/
	border-bottom: 1px solid #888;
	border-left: 1px solid #888;
	border-bottom-left-radius: 4px;
	color: #fff;
	cursor: pointer;
}
.closeXBtn:hover {
	background-color: #d2322d;
	/*border-color:#ac2925;*/
}