.tasks-main {
  position: absolute;
  left: 0;
  width: 70%;
  height: 100%;
  padding: 10px; }
  .tasks-main .search {
    float: right; }
  .tasks-main .tasks-controls {
    padding-bottom: 20px;
    display: flex; }
    .tasks-main .tasks-controls .tasks-ctrl {
      flex: 0 0 auto;
      padding: 0 20px; }
      .tasks-main .tasks-controls .tasks-ctrl.input-group {
        max-width: 200px; }

.tasks-side {
  position: absolute;
  left: 70%;
  right: 0;
  height: 100%; }

.fa-flag#colHead {
  opacity: 1; }

.fa-flag#colHead:hover {
  cursor: pointer; }

.fa-flag#highPriority {
  color: red;
  opacity: 0.5;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black; }

.fa-flag#mediumPriority {
  color: #ffbe37;
  opacity: 0.5;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black; }

.fa-flag#lowPriority {
  color: yellow;
  opacity: 0.5;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black; }

.fa-flag#highPriority:hover {
  cursor: pointer;
  opacity: 1; }

.fa-flag#mediumPriority:hover {
  cursor: pointer;
  opacity: 1; }

.fa-flag#lowPriority:hover {
  cursor: pointer;
  opacity: 1; }

.fa-exclamation {
  opacity: 0.75; }

.fa-exclamation:hover {
  cursor: pointer;
  opacity: 1; }

.fa-exclamation#colHead {
  opacity: 1; }

.fa-exclamation#colHead:hover {
  cursor: pointer; }

.fa-exclamation#highPriority {
  color: red;
  opacity: 0.75;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black; }

.fa-exclamation#mediumPriority {
  color: #ffbe37;
  opacity: 0.75;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black; }

.fa-exclamation#lowPriority {
  color: yellow;
  opacity: 0.75;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black; }

.fa-exclamation#highPriority:hover {
  cursor: pointer;
  opacity: 1; }

.fa-exclamation#mediumPriority:hover {
  cursor: pointer;
  opacity: 1; }

.fa-exclamation#lowPriority:hover {
  cursor: pointer;
  opacity: 1; }

.fa-times#row {
  opacity: 0.5; }

.fa-times#row:hover {
  cursor: pointer;
  opacity: 1; }

.fa-times#close {
  opacity: 1; }

.fa-comment-o {
  opacity: 0.5; }

.fa-comment-o:hover {
  cursor: pointer;
  opacity: 1; }

.fa-comments-o {
  opacity: 0.5; }

.fa-comments-o:hover {
  cursor: pointer;
  opacity: 1; }

.glyphicon-ok#colHead {
  opacity: 1; }

.glyphicon-ok#colHead:hover {
  cursor: pointer; }

.glyphicon-ok#row {
  opacity: 0.5; }

.glyphicon-ok#row:hover {
  cursor: pointer;
  opacity: 1; }

.glyphicon-trash#colHead {
  opacity: 1; }

.glyphicon-trash#row {
  opacity: 0.5; }

.glyphicon-trash#row:hover {
  cursor: pointer;
  opacity: 1; }

.glyphicon-file {
  opacity: 0.5; }

.glyphicon-file:hover {
  cursor: pointer;
  opacity: 1; }

.odd {
  color: black; }

.even {
  color: black; }

.gantt-row-label .gantt-label-text > span {
  cursor: pointer; }
  .gantt-row-label .gantt-label-text > span:hover {
    color: #fc4e2a; }
  .gantt-row-label .gantt-label-text > span.project {
    font-weight: bold; }
.gantt-row-label .gantt-label-text .row-btn {
  cursor: pointer;
  opacity: 0.5; }
  .gantt-row-label .gantt-label-text .row-btn:hover {
    opacity: 1; }

.gantt-task-content .task-btn {
  cursor: pointer;
  opacity: 0; }
.gantt-task-content:hover .task-btn {
  opacity: 0.5; }
  .gantt-task-content:hover .task-btn:hover {
    opacity: 1; }

.screenshotItem {
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px; }

/* background-color: rgba(252,78,42,0.05); */
.buffer {
  padding-top: 2px;
  margin: 20px; }

.bufferModal {
  padding-top: 2px;
  margin-top: 10px; }

/*# sourceMappingURL=tasks.css.map */
