.tasks{
	width : 100%;
}

.sidePanelSidemenu {
	flex: 0 0 36px;
	order: 1;
	width: 36px;
	height: 100%;
	right: 100%;
	z-index: 50;
	
	color: #999;
	background-color: #333;
	border-left: 1px solid #000;
}

.sidePanelSidemenu .smBtn {
	height: 35px;
	border-left: 2px solid rgba(252,78,42,0.5);
	padding: 7px;
	transition: border-left-color 0.3s, color 0.3s, background-color 0.3s;
}
.sidePanelSidemenu .smBtn:hover {
	border-left-color: rgba(252,78,42,1.0);
	background-color: #444;
	cursor: pointer;
	color: #ddd;
}
.sidePanelSidemenu .smBtn.active {
	border-left-color: rgba(252,78,42,1.0);
	background-color: rgba(252,78,42,0.5);
	cursor: pointer;
	color: #ddd;
}
.sidePanelSidemenu .smBtn span {
	font-size: 20px;
}



.sideHeader {
	/*flex: 0 0 auto;*/
	background: yellow;
	width: 30%;
	
}

.sideContent {
	/*flex: 1 1 auto;*/
	width: 20%;
	
	font-size: 8pt;
}


.fa-plus{
	opacity: 0.5;
}

.fa-plus:hover{
	cursor: pointer;
	opacity: 1.0;
}

.fa-pencil{
	opacity: 0.5;
}

.fa-pencil:hover{
	cursor: pointer;
	opacity: 1.0;
}

.fa-commenting-o{
	opacity: 0.5;
}

.fa-commenting-o:hover{
	cursor: pointer;
	opacity: 1.0;
}

.fa-times{
	opacity: 0.5;
}

.fa-times:hover{
	cursor: pointer;
	opacity: 1.0;
}

.glyphicon-ok{
	opacity: 0.5;
}

.glyphicon-ok:hover{
	cursor: pointer;
	opacity: 1.0;
}

.glyphicon-cog{
	opacity: 0.5;
}

.glyphicon-cog:hover{
	cursor: pointer;
	opacity: 1.0;
}