// variables

// globals
$mainColor: #fc4e2a //rgb(252, 78, 42)
$mainBackground: #333

// dark panels
$panelBackground: rgba(51,51,51,0.8)
$panelBorder: 1px solid #999
$panelBorderRadius: 10px
$panelFontColor: #fafafa
$panelFontSize: 12px