<span ng-show="!projects.length" translate>projects_empty</span>

<table ng-show="projects.length" class="table table-striped">
	<thead>
	<tr>
		<th width="200" translate>name</th>
		<th translate>description</th>
		<th width="100" translate>rights</th>
		<th width="300"></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="p in projects | orderBy: 'name'">
		<td>{{p.name}}</td>
		<td>{{p.description}}</td>
		<td>{{p.role}}</td>
		<td>
			<button class="btn btn-primary btn-xs" ng-click="openProject(p.proj)"><i class="fa fa-folder-open"></i> {{'open' | translate}}</button>
			<button class="btn btn-default btn-xs" ng-show="p.role === 'superadmin'" ui-sref=".project({ projectId: p.proj })"><i class="fa fa-pencil"></i> {{'edit' | translate}}</button>
			<button class="btn btn-danger btn-xs" ng-if="p.role === 'superadmin'" ng-click="deleteProject(p)"><i class="fa fa-trash"></i> {{'delete' | translate}}</button>
		</td>

	</tr>

	</tbody>
</table>
