tasks-gantt > .tasks-gantt-controls {
  padding-bottom: 20px;
  display: flex; }
  tasks-gantt > .tasks-gantt-controls > .tasks-gantt-ctrl {
    flex: 0 0 auto;
    padding: 0 20px; }
    tasks-gantt > .tasks-gantt-controls > .tasks-gantt-ctrl.input-group {
      max-width: 200px; }
tasks-gantt .gantt-row .gantt-task-truncated-left, tasks-gantt .gantt-row .gantt-task-truncated-right {
  color: #333; }
tasks-gantt .gantt-row .gantt-task-overview .gantt-task-truncated-left, tasks-gantt .gantt-row .gantt-task-overview .gantt-task-truncated-right {
  margin-top: -2px;
  font-size: 13px; }
tasks-gantt .gantt-row .gantt-task-overview.gantt-task.active > .gantt-task-background {
  border: none; }
tasks-gantt .gantt-row.task-group .gantt-task-overview {
  height: 10%;
  top: 90%; }
  tasks-gantt .gantt-row.task-group .gantt-task-overview .gantt-task-truncated-left, tasks-gantt .gantt-row.task-group .gantt-task-overview .gantt-task-truncated-right {
    display: none; }
tasks-gantt .gantt-row.staff-row:nth-child(n+2) {
  border-top: 2px solid #bbb; }
tasks-gantt .gantt-row-label .gantt-label-text .label-highlight {
  cursor: pointer; }
  tasks-gantt .gantt-row-label .gantt-label-text .label-highlight:hover {
    color: #fc4e2a; }
tasks-gantt .gantt-row-label .gantt-label-text .btn-row {
  cursor: pointer;
  opacity: 0.5; }
  tasks-gantt .gantt-row-label .gantt-label-text .btn-row:hover {
    opacity: 1; }
tasks-gantt .gantt-row-label.active .gantt-label-text .label-highlight {
  color: #fc4e2a; }
tasks-gantt .gantt-row-label.staff-row:nth-child(n+2) {
  border-top: 2px solid #bbb; }
tasks-gantt .gantt-task.active > .gantt-task-background {
  border: 2px solid #fc4e2a; }
tasks-gantt .gantt-task-content .btn-task {
  cursor: pointer;
  opacity: 0; }
tasks-gantt .gantt-task-content:hover .btn-task {
  opacity: 0.5; }
  tasks-gantt .gantt-task-content:hover .btn-task:hover {
    opacity: 1; }

.task-priority-low.label {
  background-color: #ffffb2;
  color: #333; }
.task-priority-low.btn {
  background: #ffffb2;
  color: #333 !important; }
  .task-priority-low.btn.active, .task-priority-low.btn:active, .task-priority-low.btn:hover, .task-priority-low.btn.active:hover, .task-priority-low.btn:active:hover, .task-priority-low.btn.active:focus, .task-priority-low.btn:active:focus {
    background-color: #ededa6; }
.task-priority-low.gantt-task > .gantt-task-background {
  background-color: #ffffb2; }
.task-priority-low.gantt-task-overview {
  z-index: 9; }

.task-priority-medium.label {
  background-color: #fecc5c;
  color: #333; }
.task-priority-medium.btn {
  background: #fecc5c;
  color: #333 !important; }
  .task-priority-medium.btn.active, .task-priority-medium.btn:active, .task-priority-medium.btn:hover, .task-priority-medium.btn.active:hover, .task-priority-medium.btn:active:hover, .task-priority-medium.btn.active:focus, .task-priority-medium.btn:active:focus {
    background-color: #ecbe56; }
.task-priority-medium.gantt-task > .gantt-task-background {
  background-color: #fecc5c; }
.task-priority-medium.gantt-task-overview {
  z-index: 8; }

.task-priority-high.label {
  background-color: #fd8d3c; }
.task-priority-high.btn {
  background: #fd8d3c;
  color: #333 !important; }
  .task-priority-high.btn.active, .task-priority-high.btn:active, .task-priority-high.btn:hover, .task-priority-high.btn.active:hover, .task-priority-high.btn:active:hover, .task-priority-high.btn.active:focus, .task-priority-high.btn:active:focus {
    background-color: #eb8338; }
.task-priority-high.gantt-task > .gantt-task-background {
  background-color: #fd8d3c; }
.task-priority-high.gantt-task-overview {
  z-index: 7; }

.task-status-done.gantt-task > .gantt-task-background {
  background-color: #a3d7a3; }
.task-status-done.gantt-task-overview {
  z-index: 6; }

/*# sourceMappingURL=tasks.css.map */
