.categoryEdit i {
	cursor: pointer;
	color: #aaa;
}
.categoryEdit i:hover {
	color: #888;
}
.categoryEdit .attribute {
	margin-bottom: 5px;
}
.categoryEdit .attribute > i {
	margin: 0 2px;
	padding: 3px;
}
.categoryEdit .attribute > .minicolors {
	float: right;
	margin: 0 5px;
}
.categoryEdit .attribute > .minicolors > span {
	width: 20px;
	height: 20px;
}
.categoryEdit .addCategory > input,
.categoryEdit .addAttribute > input {
	padding: 1px 3px 0;
	border-radius: 3px;
	border: 1px solid #ccc;
	width: 60%;
}
.categoryEdit .addCategory > input {
	width: 80%;
}

.categoryEdit form.editable-text {
	width: 60%;
}
.categoryEdit form.editable-text input {
	padding: 1px 3px 0;
	border-radius: 3px;
	border: 1px solid #ccc;
	height: 23px;
	box-shadow: none;
	width: 100%;
}
.categoryEdit form.editable-text button {
	padding: 1px 3px 0;
}