<div class="config">

	<div>
		<h2>{{'config_title' | translate}}</h2>
		<hr/>
	</div>

	<div class="col-lg-4">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">{{'config_general_title' | translate}}</h4>
			</div>

			<div class="panel-body">
				{{'config_general_public' | translate}} on/off
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					{{'config_staff_title' | translate}}
				</h4>
			</div>

			<div class="panel-body">
				<staff-list config="['remove']"></staff-list>

				<p>
					<button class="btn btn-primary" ng-show="can('edit_staff')" ui-sref="project.config.staffedit"><i class="fa fa-plus"></i> {{'config_staff_button_add' | translate}}</button>
				</p>

			</div>
		</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						Rechteverwaltung
					</h4>
				</div>

					<div class="panel-body">

					</div>
			</div>


	</div>
</div>
