<div class="leftHalf" ng-show="!isMaster">
	<div class="page-header">
		<h1>{{projectName}} <small>{{projectDesc}}</small></h1>
	</div>

	<projinfo-list></projinfo-list>

	<hr/>
	<p>
		<button class="btn btn-primary" ui-sref=".projinfo"><i class="fa fa-plus"></i> Info hinzufügen</button>
	</p>

</div>

<div class="leftHalf" ng-if="isMaster">

	<div class="page-header">
		<h1>{{projectName}} <small>{{projectDesc}}</small></h1>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{'subprojects_title' | translate}}</h3>
		</div>
		<div class="panel-body">

			<subproject-list></subproject-list>

		</div>
	</div>

	<button class="btn btn-primary" ng-show="can('edit_subproject')" ui-sref=".subproject"><i class="fa fa-plus"></i> {{'subproject_new' | translate}}</button>

</div>

<div class="rightHalf">

	<version-graph></version-graph>

</div>
