<div class="sideHeader">
	<h4>Eigenschaften</h4>
	<hr/>
	
	<p ng-hide="wi.selected.length">Keine Objekte ausgewählt</p>
	<p ng-show="wi.selected.length === 1">1 Objekt ausgewählt</p>
	<p ng-show="wi.selected.length > 1">{{wi.selected.length}} Objekte ausgewählt</p>
	
</div>
<div class="sideContent">
	
	<div class="panel panel-default">
		<div class="panel-heading">Existenz</div>
		<div class="panel-body">
			<label class="control-label col-sm-3">Daseinsbeginn</label>
			<div class="col-sm-3">
				<input type="text" class="form-control input-sm"/>
			</div>
			<label class="control-label col-sm-3">Daseinsende</label>
			<div class="col-sm-3">
				<input type="text" class="form-control input-sm"/>
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a class="pull-right" href="#" ui-sref=".category">{{'category_config' | translate}} <i class="fa fa-cog"></i></a>
			{{'categories' | translate}}
		</div>
		<div class="panel-body">

			<category-list></category-list>

		</div>
	</div>
	
	
	
</div>
<div class="sideFooter">
	<button class="btn btn-primary">Speichern</button>
</div>