<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" >
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" >Mitarbeiter</h4>
      </div>
      <div class="aside-body" ></div>
	  <span ng-if="staff.length < 1" >Keine Mitarbeiter vorhanden</span>
				<table ng-if="staff.length > 0" class="table table-striped"> 
				
				
				<thead>
					<tr>
						<th width="15">Vorname</th>
						<th width="15">Nachname</th>
						<th width="15">Mail</th>
						<th width="15">Role</th>
						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="s in staff" >
						
						<td><a data-drag="true" ng-model="staff" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep', onStart: 'getIndex($index)'}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" href="#" editable-text ="s.name" onbeforesave = "updateName($data,s.sid)" >{{s.name}}</a></td>
						<td><a href="#" editable-text ="s.surname" onbeforesave = "updateSurname($data,s.sid)">{{s.surname}}</a></td>
						<td><a href="#" editable-text ="s.mail" onbeforesave = "updateMail($data,s.sid)">{{s.mail}}</a></td>
						<td><a href="#" editable-text ="s.role" onbeforesave = "updateRole($data,s.sid)">{{s.role}}</a></td>
						
						
						<td><button type="button" class="btn btn-default" ng-click=removeStaff(s.sid)>Löschen</button></td>
						
					</tr>
					 
					
					
				</tbody>
				</table>
			
		<div class="panel-group" data-start-collapsed="true" bs-collapse>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href=""  bs-collapse-toggle>Hinzufügen</a>
                                </h4>
                            </div>
                           
                            <div class="panel-collapse" bs-collapse-target>
                                <div class="panel-body">
										<div class="form-inline">
											
													<div class="form-group text-center">
											   		<label class="control-label">Vorname</label><br>
													<input type="text" class="form-control" style="width: 8em" ng-model="newStaff.name" placeholder="Vorname">
												</div>
											
												
										
												<div class="form-group text-center">
											   		<label class="control-label">Nachname</label><br>
													<input type="text" class="form-control" style="width: 10em" ng-model="newStaff.surname" placeholder="Nachname">
												</div>
											
											
											
											
											<div class="form-group text-center">
											   		<label class="control-label">Mail</label><br>
													<input type="text" class="form-control" style="width: 6em" ng-model="newStaff.mail" placeholder="E-Mail" >
												</div>
											
												
											
												<div class="form-group text-center">
											   		<label class="control-label">Role</label><br>
													<input type="text" class="form-control" style="width: 6em" ng-model="newStaff.role" placeholder="Rolle" >
												</div>
										
											
											
												<div class="form-group text-center">
											   		<label class="control-label">Hinzufügen</label><br>
													<button class="btn btn-primary" ng-click="addNewStaff()" >Hinzufügen</button>
												</div>
											
											
											
												</div>
											
										</div>
									</div>
								</div>
							</div>
	  
      <div class="aside-footer">
       
      </div>
    </div>
  </div>
</div>
