<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" >
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" >Kommentare</h4>
      </div>
      <div class="aside-body" ></div>
	  	<ul ng-repeat ="d in data[commentIndex].data" style="list-style-type:none">
  			<li ng-class-odd="'odd'" ng-class-even="'even'">{{d.message}}</li>
  			<li ng-class-odd="'odd'" ng-class-even="'even'">{{d.author}}</li>
  			<li><br/></li>
		</ul>
		
		<p>{{commentIndex}}</p>
		
		
      <div class="aside-footer">
    	<div class="container-fluid">
 			<form ng-submit="addComment()">
		    <input type="text" class="form-control" ng-model="newComment.text" placeholder="Kommentar hinzufügen">
		    
		  </form>
		</div>       
      </div>
    
    </div>
  </div>
</div>
