.screenshotDetail {
	position: relative;
	/*margin-left: auto;
	margin-right: auto;
	width: 95%;
	background-color: white;
	height: 100%;
	padding: 40px 40px;
	background-color: #fff;
	border: 1px solid #333;
	border-radius: 4px;*/
}
.screenshotDetail>div {
	position: absolute;
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
}
.screenshotDetail .markerLayer {
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid #000;
	overflow: hidden;
	z-index: 30;
	/*cursor: crosshair;*/
	cursor: url(../../img/map-marker_new.svg) 10 35, crosshair;
}
.screenshotDetail .markerLayer.cursor_pointer {
	cursor: pointer;
}
.screenshotDetail .markerLayer .marker {
	position: absolute;
	cursor: pointer;
}
.screenshotDetail .markerLayer .markerSign {
	width: 30px;
	height: 30px;
}
.screenshotDetail .markerLayer .markerBadge {
	position: absolute;
	left: 22px;
	top: -5px;
	display: block;
	background-color: #3276b1;
}

.screenshotDetail .paintLayer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
}

.screenshotDetail .markerLayer.active,
.screenshotDetail .paintLayer.active {
	z-index: 50;
}

.screenshotDetail .paintLayer>div {
	position: relative;
}

.screenshotDetail .upperleftDiv {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.screenshotDetail .upperleftDiv>img {
	
}

.screenshotDetail .lowerleftDiv {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px 20px 0;
	text-align: center;
}

.screenshotDetail .settings {
	text-align: center;
	padding-top: 15px;
}
.screenshotDetail .settings>div {
	display: inline-block;
	vertical-align: middle;
}
.screenshotDetail .settings>div.lineWidth {
	margin: 0 10px;
	
}
.screenshotDetail .settings>div input[type="range"] {
	width: 200px;
	display: inline-block;
	vertical-align: middle;
}

.screenshotDetail .upperrightDiv {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
}
.screenshotDetail .upperrightDiv .heading {
	flex: 0 0 auto;
	padding: 10px 20px;
}
.screenshotDetail .upperrightDiv .heading > h3 {
	margin-top: 0;
}
.screenshotDetail .lowerrightDiv {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px 20px 0;
}
.screenshotDetail .markerComments {
	flex: 1 1 auto;
	padding: 10px 20px;
	width: 100%;
	overflow-y: auto;
}
.screenshotDetail .markerComments .comment {
	display: flex;
	width: 100%;
	margin-top: 10px;
	border-bottom: 1px solid #ddd;
}
.screenshotDetail .markerComments .comment:last-of-type {
	border-bottom: none;
}
.screenshotDetail .markerComments .commentLeft {
	flex: 0 0 50px;
	text-align: center;
}
.screenshotDetail .markerComments .commentRight {
	flex: 1 1 auto;
}
.screenshotDetail .markerComments .commentBtn {
	display: inline-block;
	float: right;
	cursor: pointer;
	color: #c3c3c3;
	font-size: 12px;
}
.screenshotDetail .markerComments .commentBtn:hover {
	color: #888;
}