<div class="modal-content">
	
	<div class="modal-header" ng-show="title">
		<h4 class="modal-title" ng-bind="title | translate"></h4>
	</div>
	
	<div class="modal-body">
		
		<form class="form-horizontal">
			<div class="form-group">
				<label for="aInstitution" class="control-label col-sm-3" translate>archive_institution</label>
				<div class="col-sm-8">
					<input id="aInstitution"
						   class="form-control"
						   placeholder="{{'eg'|translate}} Landesamt für Denkmalpflege Sachsen"
						   ng-model="archive.institution"
						   ng-focus="setTypeahead('E82', 'E40', 'value')"
						   bs-typeahead bs-options="ta.content as ta.content for ta in typeaheads"
						   bs-tooltip="'archive_tt_institution' | translate"/>
				</div>
			</div>
			<div class="form-group">
				<label for="aAbbr" class="control-label col-sm-3" translate>archive_preferred</label>
				<div class="col-sm-8">
					<input id="aAbbr"
						   class="form-control"
						   placeholder="{{'eg'|translate}} LfDS"
						   ng-model="archive.abbr"
						   ng-focus="setTypeahead('E82', 'E40', 'abbr')"
						   bs-typeahead bs-options="ta.content as ta.content for ta in typeaheads"
						   bs-tooltip="'archive_tt_preferred' | translate"/>
				</div>
			</div>
			<div class="form-group">
				<label for="aCollection" class="control-label col-sm-3" translate>archive_collection</label>
				<div class="col-sm-8">
					<input id="aCollection"
						   class="form-control"
						   placeholder="{{'eg'|translate}} Plansammlung"
						   ng-model="archive.collection"
						   ng-focus="setTypeahead('E41', 'E78', 'value')"
						   bs-typeahead bs-options="ta.content as ta.content for ta in typeaheads"
						   bs-tooltip="'archive_tt_collection' | translate"/>
				</div>
			</div>
		</form>

		<div class="progress-overlay" ng-show="isSaving">
			<div>
				<h4>{{'saving' | translate}}...</h4>
				<div><img src="img/db_write.gif"/></div>
			</div>
		</div>
	
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="save()" data-ng-disabled="isSaving">{{'save' | translate}}</button>
		<button type="button" class="btn btn-danger" ng-hide="new" ng-click="delete()" data-ng-disabled="isSaving">{{'delete' | translate}}</button>
		<button type="button" class="btn btn-default" ng-click="close()">{{'abort' | translate}}</button>
	</div>
	
</div>
