.model-upload-form
	position: relative
	padding: 25px 40px
	//display: flex
	//flex-direction: column

	.file-section
		height: 100px
		margin-bottom: 18px
		display: flex
		align-items: center
		& file-drop-area
			flex: 1 1 50%
			height: 100%
		& > div
			flex: 1 1 50%
			padding: 0 10px

	.file-metadata
		strong
			word-break: break-all

	.progress-area
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0
		& > div
			height: 100%
			display: flex
			flex-direction: column
			justify-content: center
			text-align: center
			padding: 100px
			background-color: rgba(240,240,240,0.5)
			//background-color: rgba(70,148,8,0.5)
			& > .progress
				border: 1px solid #2e2f2f

	//& > .upload-header
	//	flex: 0 0 auto
	//	width: 100%
	//	padding-right: 17px
	//
	//& > .upload-body
	//	position: relative
	//	flex: 1 1 auto
	//	width: 100%
	//
	//& > .upload-footer
	//	flex: 0 0 auto
	//	width: 100%
	//	padding-top: 20px
	//	padding-right: 17px
	//	text-align: center

	//.dropArea
	//	height: 80px
	//	width: 300px
	//	font-size: 16px
	//	.plus
	//		flex: 0 0 60px
	//		height: 40px
	//		padding: 0 10px
	//	svg
	//		width: 40px

	//.queue-header
	//	margin-top: 10px
	//	& > table
	//		margin: 0
	//
	//.queue-body
	//	position: absolute
	//	width: 100%
	//	height: 100%
	//	overflow-y: scroll




// versionList
version-list
	& > file-drop-area
		margin-bottom: 18px
	& > .panel
		& > .panel-body
			padding: 10px 15px
		& > .panel-footer
			font-size: 12px