.model-upload-form {
  position: relative;
  padding: 25px 40px; }
  .model-upload-form .file-section {
    height: 100px;
    margin-bottom: 18px;
    display: flex;
    align-items: center; }
    .model-upload-form .file-section file-drop-area {
      flex: 1 1 50%;
      height: 100%; }
    .model-upload-form .file-section > div {
      flex: 1 1 50%;
      padding: 0 10px; }
  .model-upload-form .file-metadata strong {
    word-break: break-all; }
  .model-upload-form .progress-area {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0; }
    .model-upload-form .progress-area > div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 100px;
      background-color: rgba(240, 240, 240, 0.5); }
      .model-upload-form .progress-area > div > .progress {
        border: 1px solid #2e2f2f; }

version-list > file-drop-area {
  margin-bottom: 18px; }
version-list > .panel > .panel-body {
  padding: 10px 15px; }
version-list > .panel > .panel-footer {
  font-size: 12px; }

version-graph .vgraph .vgraph-row {
  cursor: pointer;
  display: flex;
  align-items: center; }
  version-graph .vgraph .vgraph-row > .vgraph-nodes {
    flex: 0 0 auto;
    position: relative;
    height: 40px; }
    version-graph .vgraph .vgraph-row > .vgraph-nodes > .vgraph-nodes-bg {
      position: absolute;
      right: 0;
      margin: 7px 0;
      top: 0;
      bottom: 0;
      opacity: 0.2; }
      version-graph .vgraph .vgraph-row > .vgraph-nodes > .vgraph-nodes-bg.bg-blind {
        opacity: 0.1; }
    version-graph .vgraph .vgraph-row > .vgraph-nodes > .vgraph-cell {
      width: 30px;
      height: 40px;
      float: left;
      position: relative; }
      version-graph .vgraph .vgraph-row > .vgraph-nodes > .vgraph-cell > div {
        position: absolute; }
        version-graph .vgraph .vgraph-row > .vgraph-nodes > .vgraph-cell > div.node {
          width: 26px;
          height: 26px;
          border-radius: 13px;
          margin: 7px 2px;
          z-index: 50; }
          version-graph .vgraph .vgraph-row > .vgraph-nodes > .vgraph-cell > div.node.bg-blind {
            border: 4px solid #eee380;
            background-color: #fcf9e6; }
        version-graph .vgraph .vgraph-row > .vgraph-nodes > .vgraph-cell > div.hline {
          width: 30px;
          height: 22px;
          border-bottom: 4px solid blue; }
        version-graph .vgraph .vgraph-row > .vgraph-nodes > .vgraph-cell > div.vline {
          width: 17px;
          top: 0;
          bottom: 0;
          border-right: 4px solid blue;
          margin-right: 17px; }
        version-graph .vgraph .vgraph-row > .vgraph-nodes > .vgraph-cell > div.corner {
          width: 17px;
          height: 22px;
          border-right: 4px solid blue;
          border-bottom: 4px solid blue;
          border-bottom-right-radius: 12px;
          margin-right: 17px; }
        version-graph .vgraph .vgraph-row > .vgraph-nodes > .vgraph-cell > div.downtick {
          width: 17px;
          height: 20px;
          border-right: 4px solid blue;
          margin-top: 20px;
          margin-right: 17px; }
        version-graph .vgraph .vgraph-row > .vgraph-nodes > .vgraph-cell > div.uptick {
          width: 17px;
          height: 20px;
          border-right: 4px solid blue;
          margin-right: 17px; }
        version-graph .vgraph .vgraph-row > .vgraph-nodes > .vgraph-cell > div.sidetick {
          width: 15px;
          height: 22px;
          border-bottom: 4px solid blue;
          margin-left: 15px; }
  version-graph .vgraph .vgraph-row > .vgraph-text {
    flex: 1 1 auto;
    position: relative;
    height: 26px;
    padding: 3px 0;
    border-left: 2px solid blue;
    display: flex; }
    version-graph .vgraph .vgraph-row > .vgraph-text > div {
      flex: 0 0 auto;
      padding: 0 6px; }
      version-graph .vgraph .vgraph-row > .vgraph-text > div:first-child {
        flex: 1 1 auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    version-graph .vgraph .vgraph-row > .vgraph-text.italic {
      font-style: italic; }
  version-graph .vgraph .vgraph-row:hover > .vgraph-nodes > .vgraph-cell > .node {
    box-shadow: 0 0 5px 1px #aaa; }
  version-graph .vgraph .vgraph-row:hover > .vgraph-text {
    background-color: #efefef; }
  version-graph .vgraph .vgraph-row.active > .vgraph-nodes > .vgraph-nodes-bg {
    opacity: 0.5; }
  version-graph .vgraph .vgraph-row.active > .vgraph-nodes > .vgraph-cell > .node {
    box-shadow: 0 0 5px 1px #aaa; }
  version-graph .vgraph .vgraph-row.active > .vgraph-text {
    background-color: #e5e5e5; }
version-graph .bg-0 {
  background-color: #7bccc4; }
version-graph .bg-1 {
  background-color: #0868ac; }
version-graph .bg-2 {
  background-color: #8856a7; }
version-graph .bg-3 {
  background-color: #c51b8a; }
version-graph .bg-4 {
  background-color: #31a354; }
version-graph .line-0 {
  border-color: #7bccc4 !important; }
version-graph .line-1 {
  border-color: #0868ac !important; }
version-graph .line-2 {
  border-color: #8856a7 !important; }
version-graph .line-3 {
  border-color: #c51b8a !important; }
version-graph .line-4 {
  border-color: #31a354 !important; }
version-graph .bg-root {
  background-color: #c3c3c3; }
version-graph .line-root {
  border-color: #c3c3c3 !important; }
version-graph .bg-blind {
  background-color: #ddc700; }
version-graph .line-blind {
  border-color: #ddc700 !important;
  opacity: 0.5; }

/*# sourceMappingURL=dokuvis.models.css.map */
