<div class="modal-content">

	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" ng-click="close()">
			<span>&times;</span>
		</button>
		<h4 class="modal-title" ng-bind="'Modell einfügen' | translate"></h4>
	</div>

	<div class="modal-body model-upload-form">

		<div class="upload-header">
			<div class="dropArea"
				 data-uploader="uploader"
				 nv-file-drop
				 nv-file-over
				 ng-click="openFileDialog($event)">
				<input type="file"
					   multiple
					   ng-hide="1"
					   nv-file-select
					   data-uploader="uploader"
					   ng-click="$event.stopPropagation()" />
				<div class="plus" ng-include="'img/plus-sign.svg'"></div>
				<div>{{'source_upload_filedrop' | translate}}</div>
			</div>

			<div ng-show="uploader.queue.length" class="queue-header">
				<table class="table">
					<thead>
					<tr>
						<th width="300">{{'name' | translate}}</th>
						<th width="100" ng-show="uploader.isHTML5"></th>
						<th width="60">{{'status' | translate}}</th>
						<th width="30"></th>
					</tr>
					</thead>
				</table>
			</div>
		</div>

		<div class="upload-body">

			<div ng-show="uploader.queue.length" class="queue-body">
				<table class="table">
					<tbody>

					<tr ng-repeat="item in uploader.queue" ng-class="{success: item.isSuccess && !item.isInserting, danger: item.isError}">
						<td class="uploadMeta">
							<strong>{{ item.file.name }}</strong>
							&emsp; <small>{{ item.file.size/1024/1024|number:2 }}&nbsp;MB</small>
						</td>

						<td width="100" ng-show="uploader.isHTML5">
							<div class="progress">
								<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
							</div>
						</td>

						<td width="60" class="text-center">
							<img ng-show="item.isProcessing" src="img/db_write.gif"/>
							<span ng-show="item.isSuccess && !item.isProcessing"><i class="glyphicon glyphicon-ok"></i></span>
							<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
							<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
						</td>

						<td width="30">
							<a class="icon-btn" ng-click="item.remove()" title="{{'remove' | translate}}">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>

					</tbody>
				</table>
			</div>

		</div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
			<span class="glyphicon glyphicon-upload"></span> {{'upload' | translate}}
		</button>

		<button type="button" class="btn btn-default" ng-click="close()">{{'abort' | translate}}</button>
	</div>

</div>
