<file-drop-area uploader="uploader" label="Drop here" ui-sref=".upload.model"></file-drop-area>

<div class="panel panel-default" ng-repeat="vers in versions | orderBy:'created.date':true">
	<div class="panel-body">
		<h4>{{ vers.title }} <small>Version {{versions.length - $index}}</small></h4>
		<p>{{ vers.note }}</p>
		<p>Software: {{ vers.software }}</p>

	</div>
	<div class="panel-footer">
		<button class="btn btn-default btn-xs pull-right">load models</button>
		{{'uploaded_by' | translate}} {{vers.created.name}} - {{vers.created.date | amCalendar}}
	</div>
</div>
