<h4 translate>model_version_graph</h4>

<div class="vgraph">
	<div class="vgraph-row" ng-repeat="v in versions | orderBy:'order':true" ng-click="select(v.data)" ng-class="{active: v.data.active}">

		<div class="vgraph-nodes">
			<div class="vgraph-nodes-bg" ng-class="v.data.id === 'root' ? 'bg-root' : v.data.id === 'blind' ? 'bg-blind' : 'bg-' + v.index.col" ng-style="{left: v.index.col * 30 + 15}"></div>
			<div class="vgraph-cell" ng-repeat="cell in v.cells">
				<div ng-repeat="t in cell" ng-class="[t.type, t.css]"></div>
			</div>
		</div>

		<div class="vgraph-text" ng-class="[v.data.id === 'root' ? 'line-root' : v.data.id === 'blind' ? 'line-blind' : 'line-' + v.index.col, {italic: v.data.id === 'root' || v.data.id === 'blind'}]">
			<div>{{ v.data.summary | translate }}</div>
			<div ng-hide="v.data.id === 'root' || v.data.id === 'blind'">
				{{ v.data.created.date | amCalendar }}
			</div>
		</div>
	</div>
</div>
