<div class="modal-content">

	<div class="modal-header" ng-show="title">
		<button type="button" class="close" aria-label="Close" ng-click="close()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" ng-bind="title"></h4>
	</div>

	<div class="modal-body source-detail-modal">

		<div class="preview-container" ng-if="item.type !== 'text'">

			<image-viewer ng-if="item.type !== 'text'"
						  src="'data/' + item.file.path + (item.file.texture || item.file.preview || item.file.content)"
						  options="{width: item.file.width, height: item.file.height}"></image-viewer>

			<div class="text-container" ng-if="item.type === 'text'">
				<div ng-show="!textEdit" class="displayText" sync-scroll="vertical-scroll">
					<div class="vertical-scroll text"
						 ng-mouseover="highlight($event)">
						<div ng-include="'data/' + item.file.path + item.file.preview[pageNr] + '.hocr'"></div>
					</div>
					<div class="vertical-scroll image">
						<img ng-src="{{'data/' + item.file.path + item.file.preview[pageNr] + '.jpg' || 'data/Proj_puuD1TP/texts/pdf_image.jpg'}}"/>
						<div id="wordRect"></div>
					</div>
				</div>

				<div ng-show="textEdit" text-angular ta-toolbar="[['h3','p','quote'],['bold','italics','underline','ul','ol'],['undo','redo'],['html','insertLink']]" ng-model="editorInput"></div>
			</div>

		</div>

		<div class="textDiv" ng-if="item.type === 'text'">
			<div ng-show="!textEdit" class="displayText" sync-scroll="vertical-scroll">
				<div class="vertical-scroll text"
					 ng-mouseover="highlight($event)">
					<div ng-include="'data/' + item.file.path + item.file.preview[pageNr] + '.hocr'"></div>
				</div>
				<div class="vertical-scroll image">
					<img ng-src="{{'data/' + item.file.path + item.file.preview[pageNr] + '.jpg' || 'data/Proj_puuD1TP/texts/pdf_image.jpg'}}"/>
					<div id="wordRect"></div>
				</div>
			</div>

			<div ng-show="textEdit" text-angular ta-toolbar="[['h3','p','quote'],['bold','italics','underline','ul','ol'],['undo','redo'],['html','insertLink']]" ng-model="editorInput"></div>
		</div>

		<div class="info-container">

			<div class="title-section">
				<div class="primaryIdenticator" title="Primärquelle" ng-show="item.primary"><div></div></div>
				<img ng-show="item.type == 'text'" ng-src="data/{{item.file.path + item.file.thumb}}"/>
				<h3>{{item.title}}</h3>
				<hr/>
			</div>

			<div class="details-section" ng-hide="edit">
				<div class="info-display">
					<div>
						<strong>{{'source_author' | translate}}</strong>
						<p>{{(item.author || 'unbekannt') | translate}}</p>
					</div>
					<div ng-show="item.archive && (item.archive.institution || item.archive.identifier)">
						<strong>{{'source_archive' | translate}}</strong>
						<p>{{item.archive.institutionAbbr}} {{item.archive.collection}}<br/>
							{{item.archive.identifier}}</p>
					</div>
					<div ng-show="item.date">
						<strong>{{'source_date' | translate}}</strong>
						<p>{{item.date}}</p>
					</div>
					<div ng-show="item.place">
						<strong>{{'source_place' | translate}}</strong>
						<p>{{item.place}}</p>
					</div>
					<div ng-show="item.repros">
						<strong>{{'source_repros' | translate}}</strong>
						<p>{{item.repros}}</p>
					</div>
					<div ng-show="item.note" class="large">
						<strong>{{'source_misc' | translate}}</strong>
						<p>{{item.note}}</p>
					</div>
					<div ng-show="item.tags.length">
						<strong>{{'source_tags' | translate}}</strong>
						<p>
							<span ng-repeat="tag in item.tags | orderBy: tag">{{tag}} </span>
						</p>
					</div>
					<div>
						<strong>Links</strong>
						<p ng-show="item.file.link"><a ng-href="{{item.file.link}}" target="_blank">SLUB-Link</a></p>
						<p><a ng-href="data/{{item.file.path + item.file.content}}" target="_blank">Originaldatei</a></p>
						<!--<p><a ui-sref="project.graph.node({ startNode: item.nId })">Graphensuche</a></p>-->
					</div>
					<div ng-show="item.type == 'text'">
						<button class="btn btn-default btn-sm" ng-click="nextPage(-1)">vorige Seite</button>
						<button class="btn btn-default btn-sm" ng-click="nextPage(1)">nächste Seite</button>

						<p>Seite {{pageNr + 1}}</p>
						<p>
							<button class="btn btn-default btn-sm" ng-class="{active: showConfidence}" ng-click="toggleConfidence()">Fehler zeigen</button>
							<!--	<button class="btn btn-default btn-sm" ng-click="editText()">Text bearbeiten</button>
								<button class="btn btn-default btn-sm" ng-click="saveText()">Text speichern</button>
							-->
						</p>
					</div>

					<strong>{{'comments' | translate}}</strong>

					<comment-section target="item.id" type="item.type"></comment-section>
				</div>
			</div>

		</div>

	</div>

	<div class="modal-footer spread">
		<div class="modal-metadata">
			<div ng-show="item.created && item.created.id">{{'uploaded_by' | translate}} {{item.created.name}} - {{item.created.date | amCalendar}}</div>
			<span ng-show="item.modified && item.modified.id">{{'modified_by' | translate}} {{item.modified.name}} - {{item.modified.date | amCalendar}}</span>
		</div>

		<div>
			<button class="btn btn-default" ui-sref=".edit">{{'edit' | translate}}</button>
			<button class="btn btn-default" ng-show="item.type === 'picture'" ng-click="startSpatialize()">Verorten</button>
			<button class="btn btn-danger" ng-click="delete()">{{'delete' | translate}}</button>
		</div>

		<div>
			<button ng-show="iterable" class="btn btn-default" ng-click="prev()"><i class="glyphicon glyphicon-chevron-left"></i> {{'prev' | translate}}</button>
			<button ng-show="iterable" class="btn btn-default" ng-click="next()">{{'next' | translate}} <i class="glyphicon glyphicon-chevron-right"></i></button>
			<button type="button" class="btn btn-default" ng-click="close()">{{'close' | translate}}</button>
		</div>
	</div>

</div>
