sources-list {
  display: flex;
  flex-direction: column; }
  sources-list > .sources-header {
    padding: 5px;
    flex: 0 0 auto; }
    sources-list > .sources-header > .sources-controls {
      float: right;
      font-size: 12px; }
      sources-list > .sources-header > .sources-controls > .sources-ctrl-group {
        height: 100%;
        padding: 0 8px;
        border-left: none; }
        sources-list > .sources-header > .sources-controls > .sources-ctrl-group > span {
          position: relative;
          top: 1px; }
        sources-list > .sources-header > .sources-controls > .sources-ctrl-group > select {
          margin: 0; }
        sources-list > .sources-header > .sources-controls > .sources-ctrl-group > input {
          margin: 0;
          padding: 0 3px; }
  sources-list > .sources-body {
    flex: 1 1 auto;
    display: flex; }
    sources-list > .sources-body .source-item {
      font-size: 8pt;
      display: inline-block;
      padding: 3px 10px;
      word-spacing: 0;
      vertical-align: top; }
      sources-list > .sources-body .source-item > .thumbnail {
        position: relative;
        width: 175px;
        margin-bottom: 0;
        overflow: hidden; }
        sources-list > .sources-body .source-item > .thumbnail.selected {
          border-color: #fc4e2a; }
        sources-list > .sources-body .source-item > .thumbnail > img {
          width: 100%; }
        sources-list > .sources-body .source-item > .thumbnail > .caption {
          font-size: 9pt; }
          sources-list > .sources-body .source-item > .thumbnail > .caption > * {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          sources-list > .sources-body .source-item > .thumbnail > .caption > span {
            font-weight: bold; }
        sources-list > .sources-body .source-item > .thumbnail > .primaryIndicator {
          position: absolute;
          bottom: 0;
          color: #5cb85c;
          font-size: 16px; }
        sources-list > .sources-body .source-item > .thumbnail > .commentIndicator {
          position: absolute;
          bottom: 1px;
          right: 4px;
          font-size: 8pt;
          color: #aaa; }
        sources-list > .sources-body .source-item > .thumbnail > .btn-bar {
          position: absolute;
          bottom: 0;
          width: 100%;
          text-align: center;
          font-size: 0; }
          sources-list > .sources-body .source-item > .thumbnail > .btn-bar > a {
            display: inline-block;
            font-size: 9pt;
            color: #aaa;
            background: linear-gradient(#fafafa, #eee);
            padding: 2px 4px 1px;
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;
            cursor: pointer; }
            sources-list > .sources-body .source-item > .thumbnail > .btn-bar > a:first-of-type {
              border-top-left-radius: 4px; }
            sources-list > .sources-body .source-item > .thumbnail > .btn-bar > a:last-of-type {
              border-right: 1px solid #ddd;
              border-top-right-radius: 4px; }
            sources-list > .sources-body .source-item > .thumbnail > .btn-bar > a:hover {
              color: #888; }
    sources-list > .sources-body > .blindsource {
      flex: 0 0 auto; }
      sources-list > .sources-body > .blindsource > .source-item > .thumbnail {
        height: 163px; }
        sources-list > .sources-body > .blindsource > .source-item > .thumbnail > file-drop-area {
          height: 153px; }
    sources-list > .sources-body > .list {
      flex: 1 1 auto;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      word-spacing: -0.5ex; }

.source-upload-form {
  position: relative;
  padding: 25px 40px;
  display: flex;
  flex-direction: column; }
  .source-upload-form > .upload-header {
    flex: 0 0 auto;
    width: 100%;
    padding-right: 17px; }
  .source-upload-form > .upload-body {
    position: relative;
    flex: 1 1 auto;
    width: 100%; }
  .source-upload-form > .upload-footer {
    flex: 0 0 auto;
    width: 100%;
    padding-top: 20px;
    padding-right: 17px;
    text-align: center; }
  .source-upload-form .upload-file {
    display: flex;
    align-items: center; }
    .source-upload-form .upload-file > file-drop-area {
      flex: 0 0 300px;
      height: 80px; }
    .source-upload-form .upload-file > div {
      padding: 10px 20px; }
  .source-upload-form .queue-header {
    margin-top: 10px; }
    .source-upload-form .queue-header > table {
      margin: 0; }
  .source-upload-form .queue-body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll; }
  .source-upload-form .file-metadata strong {
    word-break: break-all; }
  .source-upload-form .file-metadata canvas {
    background-color: #f3f3f3;
    border: 1px solid #c3c3c3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    max-width: 280px;
    max-height: 280px;
    margin-top: 6px; }
  .source-upload-form .file-metadata img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 6px; }
  .source-upload-form .form-group {
    font-size: 12px;
    max-height: 30px;
    margin-bottom: 5px; }
    .source-upload-form .form-group.form-group-large {
      max-height: 300px; }
    .source-upload-form .form-group > label {
      padding-top: 5px; }
    .source-upload-form .form-group input {
      height: 22px; }
    .source-upload-form .form-group input, .source-upload-form .form-group textarea {
      padding: 1px 3px 0;
      font-size: 12px; }
    .source-upload-form .form-group input[type="checkbox"] {
      margin-top: 4px;
      height: 13px; }
    .source-upload-form .form-group input[type="radio"] {
      margin-top: 2px;
      height: 13px; }
    .source-upload-form .form-group select, .source-upload-form .form-group button {
      padding: 1px 3px;
      margin: 2px 0;
      height: 22px; }
  .source-upload-form .form-extend {
    overflow: hidden;
    max-height: 150px;
    opacity: 1;
    transition: all 0.5s; }
    .source-upload-form .form-extend.ng-hide {
      max-height: 0;
      opacity: 0; }
  .source-upload-form .form-extend-btn {
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center; }
    .source-upload-form .form-extend-btn > span:first-child {
      flex: 0 0 auto; }
    .source-upload-form .form-extend-btn > span:last-child {
      flex: 1 1 auto;
      margin: 0 5px;
      border-bottom: 1px solid #ccc; }

.source-detail-modal {
  padding: 15px;
  display: flex;
  flex-direction: row; }
  .source-detail-modal .preview-container {
    flex: 1 1 auto;
    position: relative; }
    .source-detail-modal .preview-container > div, .source-detail-modal .preview-container > image-viewer {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0; }
    .source-detail-modal .preview-container img {
      max-width: 100%;
      max-height: 100%;
      border: 1px solid #333; }
    .source-detail-modal .preview-container > iframe {
      width: 100%;
      height: 100%;
      border: 1px solid #333; }
  .source-detail-modal .info-container {
    flex: 0 0 40%;
    padding-left: 20px;
    display: flex;
    flex-direction: column; }
    .source-detail-modal .info-container > .title-section {
      flex: 0 0 auto;
      position: relative;
      word-wrap: break-word; }
    .source-detail-modal .info-container > .details-section {
      flex: 1 1 auto;
      width: 100%;
      overflow-y: auto; }
  .source-detail-modal image-viewer {
    border: 1px solid #333;
    background: radial-gradient(circle, #c4c4c4, #727272); }
  .source-detail-modal .primaryIdenticator {
    position: absolute;
    top: 0;
    right: 0;
    color: #5cb85c;
    font-size: 22px; }
  .source-detail-modal .displayText {
    width: 100%;
    height: 100%; }
    .source-detail-modal .displayText > .text {
      height: 50%;
      padding: 10px 15px;
      border: 1px solid #333;
      overflow-y: scroll; }
    .source-detail-modal .displayText > .image {
      width: 100%;
      height: 50%;
      border: 1px solid #333;
      overflow-y: scroll;
      position: relative; }
      .source-detail-modal .displayText > .image > img {
        width: 100%;
        max-height: none; }
      .source-detail-modal .displayText > .image > #wordRect {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border: 1px solid red; }

.source-edit-modal .image-section {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-height: 200px; }
  .source-edit-modal .image-section > div {
    flex: 0 1 30%;
    margin: 0 10px;
    text-align: center; }
  .source-edit-modal .image-section img {
    max-width: 100%;
    max-height: 100%; }
  .source-edit-modal .image-section file-drop-area {
    height: 100%; }
  .source-edit-modal .image-section .file-progress {
    display: flex;
    flex-direction: column;
    justify-content: center; }
.source-edit-modal .fixedProperty {
  padding-top: 9px;
  font-weight: bold; }

/*# sourceMappingURL=sources.css.map */
