@import '../../../style/variables'

div[graph-search]
	width: 100%
	height: 100%
	font-size: 10px
	background: radial-gradient(circle, #c4c4c4, #727272)
	overflow: hidden
	position: relative

	.node
		cursor: pointer
		
		circle
			stroke: steelblue
			stroke-width: 1.5px
			//transition: all 0.2s
			
		&:hover circle
			stroke: #f00
			//fill: #fa0
			
		&.fixed circle
			stroke: $mainColor
			stroke-width: 3px
		
		text.title
			fill: blue
		
		text.shadow
			stroke: #fff
			stroke-width: 3px
			stroke-opacity: 0.8
		
		rect.bg-text
			fill: #fff
			fill-opacity: 0.7

	.linkPath
		fill: none
		stroke: #ddd
		stroke-width: 1px
	
	.textPath
		fill: none
	
	.arrowHead
		fill: #ddd
		
	.linkLabel
		fill: #000

	.nodeDetails
		position: absolute
		width: 350px
		height: auto
		left: 10px
		bottom: 10px
		background-color: $panelBackground
		border: $panelBorder
		border-radius: $panelBorderRadius
		color: $panelFontColor
		font-size: $panelFontSize
		padding: 10px

		&>div
			margin: 5px 0

		.property
			padding: 5px
			border-bottom: $panelBorder
			display: flex

			&:last-of-type
				border-bottom: none
			&>.key
				flex: 0 0 35%
				width: 35%
				word-wrap: break-word
			&>.value
				flex: 0 0 65%
				width: 65%
				word-wrap: break-word