<div class="nodeDetails">
	<h4>Node ({{selectedNode.id}})</h4>

	<div>
		<strong>Labels:</strong>
		<span ng-repeat="label in selectedNode.labels">{{ $index ? ',' : '' }} {{ label }}</span>
	</div>
	<div>
		<strong>Properties:</strong>
		<div class="property" ng-repeat="(key, value) in selectedNode.properties">
			<div class="key">{{ key }}:</div>
			<div class="value">{{ value }}</div>
		</div>
	</div>
	<div>
		<strong>Link:</strong>
		<a ui-sref="project.explorer.source.id({ sourceId: selectedNode.properties.content })">zur Quelle</a>
	</div>
</div>