.explorerUpperHalf {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 240px;
  overflow: hidden; }

.explorerLowerHalf {
  position: absolute;
  width: 100%;
  height: 234px;
  bottom: 0; }

.viewportPanel {
  position: absolute;
  left: 0;
  width: 66%;
  height: 100%; }
  .viewportPanel > viewport {
    border: 1px solid #000;
    border-left: none;
    border-top: none; }

.ctrlBtn {
  color: #ffffff;
  height: 100%;
  border: 1px solid transparent;
  margin: 0 1px;
  padding: 0;
  background-color: transparent;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .ctrlBtn:hover {
    background-color: #555; }
  .ctrlBtn:focus {
    outline: none; }
  .ctrlBtn[disabled] {
    filter: alpha(opacity=30);
    opacity: 0.3; }
    .ctrlBtn[disabled]:hover {
      border: 1px solid #fff; }
  .ctrlBtn:active, .ctrlBtn.active {
    background-color: #555;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #999;
    border-top: 1px solid #999; }

.ctrlGroup {
  float: left;
  height: 100%;
  padding: 0 4px;
  border-left: 1px solid #999; }
  .ctrlGroup:first-of-type {
    border: none; }
  .ctrlGroup.ctrlGroup-text {
    padding: 3px 4px; }
  .ctrlGroup input {
    margin: 2px 0;
    padding: 0;
    height: 22px; }
    .ctrlGroup input.error {
      border-color: #f00; }
    .ctrlGroup input[disabled] {
      cursor: default; }
  .ctrlGroup select {
    padding: 0;
    margin: 2px 0;
    height: 22px; }

.explorer-side {
  position: absolute;
  left: 66%;
  right: 0;
  height: 100%; }

.sourcesPanel {
  overflow: auto;
  position: absolute;
  left: 0;
  width: 66%;
  height: 100%; }

sources-list {
  width: 100%;
  height: 100%; }

.previewPanel {
  padding: 20px;
  position: absolute;
  left: 66%;
  right: 0;
  height: 100%;
  overflow-y: auto; }
  .previewPanel .navigation-info img {
    height: 50px; }

.debugBtns {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.2; }

.svgViz {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; }
  .svgViz line {
    stroke: #f00;
    stroke-width: 3; }

.svgViz path {
  stroke: #ff0;
  stroke-width: 1px;
  stroke-opacity: 1;
  fill: #ff0;
  fill-opacity: 0.1; }

.addStaff.container {
  position: relative;
  height: 100%;
  padding: 25px 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 4px;
  transition: box-shadow 0.5s; }

.autocomplete {
  width: 100%;
  position: relative; }

.autocomplete input {
  font-size: 1.2em;
  width: 100%;
  padding: 0.4em; }

.autocomplete ul {
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
  padding: 0; }

.autocomplete li {
  text-align: left;
  list-style: none;
  width: 100%;
  padding: 0.4em;
  background-color: #fff;
  cursor: default; }

.autocomplete li.active {
  width: 100%;
  background-color: #4bf; }

.autocomplete .highlight {
  background-color: #E2E2E2; }

.autocomplete li.active .highlight {
  background: #666;
  color: #fff; }

.dialogPanel {
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translate(0, -50%); }

.dialogPanel .lowerBtns {
  padding-top: 30px;
  text-align: center; }

.sourceType.dialogPanel {
  position: relative;
  padding: 25px 40px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 4px;
  transition: box-shadow 0.5s; }

/*# sourceMappingURL=explorer.css.map */
