.prjSideNav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 36px;
  z-index: 50; }

.sidePanel {
  display: flex; }

.sideNav {
  background-color: #333;
  color: #999;
  width: 36px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column; }
  .sideNav .smLogo {
    flex: 0 0 35px;
    background-color: #fc4e2a;
    cursor: pointer; }
  .sideNav .smBtn {
    flex: 0 0 35px;
    height: 35px;
    padding: 5px 4px 0;
    transition: border 0.3s, color 0.3s, background-color 0.3s; }
    .sideNav .smBtn:hover, .sideNav .smBtn.active {
      cursor: pointer;
      color: #ddd; }
      .sideNav .smBtn:hover svg, .sideNav .smBtn.active svg {
        fill: #ddd; }
    .sideNav .smBtn:hover {
      background-color: #444; }
    .sideNav .smBtn.active {
      background-color: rgba(252, 78, 42, 0.5); }
    .sideNav .smBtn[disabled] {
      pointer-events: none;
      cursor: not-allowed; }
    .sideNav .smBtn i, .sideNav .smBtn span {
      font-size: 20px; }
    .sideNav .smBtn svg {
      width: 25px;
      height: 25px;
      fill: #999;
      transition: fill 0.3s; }
    .sideNav .smBtn.smBtn-lang {
      font-size: 18px;
      text-align: center;
      padding: 5px 0; }
  .sideNav .smSpace {
    flex: 1 1 35px; }
  .sideNav.sideNav-left {
    border-right: 1px solid #000; }
    .sideNav.sideNav-left .smBtn {
      border-right: 2px solid rgba(252, 78, 42, 0.5); }
      .sideNav.sideNav-left .smBtn:hover, .sideNav.sideNav-left .smBtn.active {
        border-right-color: #fc4e2a; }
  .sideNav.sideNav-right {
    order: 2;
    border-left: 1px solid #000; }
    .sideNav.sideNav-right .smBtn {
      display: block;
      border-left: 2px solid rgba(252, 78, 42, 0.5); }
      .sideNav.sideNav-right .smBtn:hover, .sideNav.sideNav-right .smBtn.active {
        border-left-color: #fc4e2a; }
    .sideNav.sideNav-right[bs-radio-group] > label {
      margin: 0; }
      .sideNav.sideNav-right[bs-radio-group] > label > input {
        display: none; }

.prjNavInfoContainer {
  position: absolute;
  top: 0;
  height: 20px;
  left: 36px;
  right: 0;
  color: #ddd;
  background-color: #333;
  border-bottom: 1px solid #000; }
  .prjNavInfoContainer a {
    color: #fc4e2a; }
  .prjNavInfoContainer > ol.breadcrumb {
    margin: 0;
    padding: 0 15px; }
  .prjNavInfoContainer .navbar-text {
    margin-top: 0;
    margin-bottom: 0; }

.prjMainContainer {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 36px;
  right: 0;
  z-index: 30; }

.sideContainer {
  flex: 1 1 auto;
  order: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  .sideContainer .sideHeader {
    flex: 0 0 auto;
    width: 100%;
    padding: 20px 20px 0; }
  .sideContainer .sideContent {
    flex: 1 1 auto;
    width: 100%;
    padding: 0 20px;
    overflow-y: auto; }
    .sideContainer .sideContent.smallFont {
      font-size: 8pt; }
  .sideContainer .sideFooter {
    flex: 0 0 auto;
    width: 100%;
    padding: 20px; }

[resizer="horizontal"] {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 234px;
  height: 6px;
  cursor: n-resize; }

[resizer="vertical"] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 66%;
  width: 6px;
  cursor: e-resize; }

[resizer="horizontal"], [resizer="vertical"] {
  background-color: #333; }
  [resizer="horizontal"]:hover, [resizer="vertical"]:hover {
    background-color: #789; }

/*# sourceMappingURL=project.css.map */
