<div class="modal-content">
	
	<div class="modal-header" ng-show="title">
		<button type="button" class="close" aria-label="Close" ng-click="$hide()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" ng-bind="title"></h4>
	</div>
	
	<div class="modal-body insertForm">
	
		<div class="insert-header">
			<div class="dropArea" uploader="uploader" nv-file-drop="" nv-file-over="" ng-click="openFileDialog($event)">
				<input ng-hide="1" type="file" nv-file-select="" uploader="uploader" multiple  />
				<div class="plus" ng-bind-html="$parent.plusSign"></div> <div>Quellen einfügen</div>
			</div>
			
			<div ng-show="uploader.queue.length" class="queueHeader">
			<table class="table">
				<thead>
					<tr ng-if="insert.uploadType == 'image'">
						<th width="300">Name</th>
						<th>Metadaten</th>
						<th width="100" ng-show="uploader.isHTML5"></th>
						<th width="60">Status</th>
						<th width="30"></th>
					</tr>
					<tr ng-if="insert.uploadType == 'model' || insert.uploadType == 'zip'">
						<th>Name</th>
						<th width="100" ng-show="uploader.isHTML5"></th>
						<th width="60">Status</th>
						<th width="30"></th>
					</tr>
				</thead>
			</table>
			</div>
		</div>
		
		<div class="insert-body">
		
			<div ng-show="uploader.queue.length" class="queueBody">
			<table class="table">
				<tbody>
					<tr ng-if="insert.uploadType == 'image'" ng-repeat="item in uploader.queue" ng-init="initItem(item)">
						<td width="300">
							<strong>{{ item.file.name }}</strong>
							&emsp; <small>{{ item.file.size/1024/1024|number:2 }} MB</small>
							<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, width: 270 }"></div>
						</td>
						
						<td>
							<form class="form-horizontal">
								
								<div class="form-group">
									<label for="docComment" class="control-label col-sm-3">Typ</label>
									<div class="col-sm-3">
										<select class="form-control input-sm" ng-model="item.sourceType">
											<option value="plan">Plan</option>
											<option value="picture">Fotografie</option>
										</select>
									</div>
									<span class="col-sm-1 glyphicon glyphicon-info-sign" title="Art der Quelle"></span>
								</div>
								
								<div class="form-group" ng-class="item.titleError ? 'has-error' : ''">
									<label for="docTitle" class="control-label col-sm-3">Titel</label>
									<div class="col-sm-8">
										<autocomplete attr-input-class="form-control" ng-model="item.title" ng-model-options="{debounce: 250}" data="suggestions" on-type="getSuggestions" on-select="selectSuggestion" on-blur="validateInput" pass-item="item" pass-params="{label: 'E35', filterProp: 'content', unique: true, uniqueProp: 'title', index: $index}"></autocomplete>
									</div>
									<span class="col-sm-1 glyphicon glyphicon-info-sign" title="Eindeutiger, aussagekräfitger Titel (Plichtfeld)"></span>
								</div>
								
								<div class="form-group">
									<label for="docArchive" class="control-label col-sm-3">Archivkennung</label>
									<div class="col-sm-8">
										<autocomplete attr-input-class="form-control" ng-model="item.archive" ng-model-options="{debounce: 250}" data="suggestions" on-type="getSuggestions" on-select="selectSuggestion" on-blur="validateInput" pass-item="item" pass-params="{label: 'E42', filterProp: 'content'}"></autocomplete>
									</div>
									<span class="col-sm-1 glyphicon glyphicon-info-sign" title="Archiv- und Regalnummer (optional)"></span>
								</div>
								
								<div class="form-group" ng-hide="globals.useAuthor">
									<label for="docAuthor" class="control-label col-sm-3">Autor</label>
									<div class="col-sm-8">
										<autocomplete attr-input-class="form-control" ng-model="item.author" ng-model-options="{debounce: 250}" data="suggestions" on-type="getSuggestions" on-select="selectSuggestion" on-blur="validateInput" pass-item="item" pass-params="{label: 'E82', filterProp: 'content'}"></autocomplete>
									</div>
									<span class="col-sm-1 glyphicon glyphicon-info-sign" title="Wer hat die Quelle erstellt? (optional)"></span>
								</div>
								
								<div class="form-group" ng-hide="globals.useCreationDate">
									<label for="docCreationDate" class="control-label col-sm-3">Datierung</label>
									<div class="col-sm-8">
										<autocomplete attr-input-class="form-control" ng-model="item.creationDate" ng-model-options="{debounce: 250}" data="suggestions" on-type="getSuggestions" pass-params="{label: 'E61', filterProp: 'content'}"></autocomplete>
									</div>
									<span class="col-sm-1 glyphicon glyphicon-info-sign" title="Wann wurde die Quelle erstellt? (optional)"></span>
								</div>
								
								<div class="form-group" ng-hide="globals.useCreationPlace">
									<label for="docCreationPlace" class="control-label col-sm-3">Erstellungsort</label>
									<div class="col-sm-8">
										<autocomplete attr-input-class="form-control" ng-model="item.creationPlace" ng-model-options="{debounce: 250}" data="suggestions" on-type="getSuggestions" pass-params="{label: 'E48', filterProp: 'content'}"></autocomplete>
									</div>
									<span class="col-sm-1 glyphicon glyphicon-info-sign" title="Wo wurde die Quelle erstellt? (optional)"></span>
								</div>
								
								<div class="form-group">
									<label for="docComment" class="control-label col-sm-3">Kommentar</label>
									<div class="col-sm-8">
										<textarea class="form-control" id="docComment" ng-model="item.comment"></textarea>
									</div>
									<span class="col-sm-1 glyphicon glyphicon-info-sign" title="Wichtige Bemerkungen etc. (optional)"></span>
								</div>
								
							</form>
						</td>
						
						<td width="100" ng-show="uploader.isHTML5">
							<div class="progress" style="margin-bottom: 0;">
								<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
							</div>
						</td>
						
						<td width="60" class="text-center">
							<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
							<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
							<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
						</td>
						
						<td width="30">
							<a ng-click="item.remove()">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
					
					<tr ng-if="insert.uploadType == 'model' || insert.uploadType == 'zip'" ng-repeat="item in uploader.queue" ng-init="initItem(item)" ng-class="{success: item.isSuccess && !item.isInserting, danger: item.isError}">
						<td>
							<strong>{{ item.file.name }}</strong>
							&emsp; <small>{{ item.file.size/1024/1024|number:2 }} MB</small>
						</td>
						
						<td width="100" ng-show="uploader.isHTML5">
							<div class="progress" style="margin-bottom: 0;">
								<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
							</div>
						</td>
						
						<td width="60" class="text-center">
							<img ng-show="item.isProcessing" src="img/ajax-loader.gif"/> 
							<img ng-show="item.isInserting" src="img/db_write.gif"/> 
							<span ng-show="item.isSuccess && !item.isInserting"><i class="glyphicon glyphicon-ok"></i></span>
							<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
							<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
						</td>
						
						<td width="30">
							<a ng-click="item.remove()">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			
		</div>
		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="checkAndUploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
			<span class="glyphicon glyphicon-upload"></span> Hochladen
		</button>
	
		<button type="button" class="btn btn-default" ng-click="$hide()">Abbrechen</button>
	</div>
	
</div>

