<div class="modal-content">
	
	<div class="modal-header" ng-show="title">
		<button type="button" class="close" aria-label="Close" ng-click="close()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" ng-bind="title"></h4>
	</div>
	
	<div class="modal-body sourceDetail"><div>
	
		<div ng-class="horizontalImage ? 'imageHDiv' : 'imageVDiv'">
			<img ng-if="item.type == 'picture' || item.type == 'plan'" ng-src="data/{{item.file.path + (item.file.display || item.file.img1024 || item.file.name)}}"/>
			<div ng-if="item.type == 'text' && !textEdit" class="displayText" sync-scroll="vertical-scroll">
				<div class="vertical-scroll text"
					 ng-mouseover="highlight($event)">
					<div ng-include="'data/' + item.file.path + item.file.display[pageNr] + '.hocr'"></div>
				</div>
				<div class="vertical-scroll image">
					<img ng-src="{{'data/' + item.file.path + item.file.display[pageNr] + '.jpg' || 'data/Proj_puuD1TP/texts/pdf_image.jpg'}}"/>
					<div id="wordRect"></div>
				</div>
			</div>
			
			<div ng-if="item.type == 'text' && textEdit" text-angular ta-toolbar="[['h3','p','quote'],['bold','italics','underline','ul','ol'],['undo','redo'],['html','insertLink']]" ng-model="editorInput"></div>
		</div>
		<div ng-class="horizontalImage ? 'infoHDiv' : 'infoVDiv'">
			
			<div class="primaryIdenticator" title="Primärquelle" ng-show="item.primary"><div></div></div>
			
			<img ng-show="item.type == 'text'" ng-src="data/{{item.file.path}}_thumbs/{{item.file.thumb}}"/>
			<h3>{{item.title}}</h3>
			<hr/>
			<div>
				<strong>Autor</strong>
				<p>{{item.author || 'unbekannt'}}</p>
			</div>
			<div ng-show="item.archive">
				<strong>Archiv</strong>
				<p>{{item.archive.institutionAbbr}} {{item.archive.collection}}<br/>
				{{item.archive.identifier}}</p>
			</div>
			<div ng-show="item.date">
				<strong>Datierung</strong>
				<p>{{item.date}}</p>
			</div>
			<div ng-show="item.place">
				<strong>Erstellungsort</strong>
				<p>{{item.place}}</p>
			</div>
			<div ng-show="item.comment">
				<strong>Kommentar</strong>
				<p>{{item.comment}}</p>
			</div>
			<div ng-show="item.tags.length">
				<strong>Tags</strong>
				<p>
					<span ng-repeat="tag in item.tags | orderBy: tag">{{tag}} </span>
				</p>
			</div>
			<div>
				<p><a ng-href="data/{{item.file.path + item.file.name}}" target="_blank">Originaldatei</a></p>
			</div>
			<div ng-show="item.type == 'text'">
				<button class="btn btn-default btn-sm" ng-click="nextPage(-1)">vorige Seite</button>
				<button class="btn btn-default btn-sm" ng-click="nextPage(1)">nächste Seite</button>
				
				<p>Seite {{pageNr + 1}}</p>
				<p>
					<button class="btn btn-default btn-sm" ng-class="{active: showConfidence}" ng-click="toggleConfidence()">Fehler zeigen</button>
				<!--	<button class="btn btn-default btn-sm" ng-click="editText()">Text bearbeiten</button>
					<button class="btn btn-default btn-sm" ng-click="saveText()">Text speichern</button>
				-->
				</p>
			</div>
			
			<div class="comment-section">
				<strong>Kommentare</strong>
				<textarea class="form-control" ng-model="newCommentInput"></textarea>
				<button class="btn btn-default btn-sm" ng-click="postComment()"><i class="fa fa-paper-plane"></i>Posten</button>
				
				<div class="comment" ng-repeat="comment in comments | orderBy: 'date':true">
					<div class="author-date">{{comment.author}} - {{comment.date | amCalendar}}</div>
					{{comment.value}}

					<div class="answer" ng-repeat="answer in comment.answers | orderBy: 'date':false">
						<div class="author-date">{{answer.author}} - {{answer.date | amCalendar}}</div>
						{{answer.value}}
					</div>

					<div class="answerInput" ng-show="comment.answering">
						<textarea class="form-control" ng-model="comment.newAnswerInput"></textarea>
						<!--<i class="fa fa-paper-plane sendBtn" ng-click="postAnswer(comment)"></i>-->
					</div>
					<div class="actions">
						<a href="" ng-show="!comment.answering" ng-click="comment.answering = true">Antworten</a>
						<a href="" ng-show="comment.answering" ng-click="comment.answering = false">Abbrechen</a>
						<a href="" ng-show="comment.answering" ng-click="postAnswer(comment)">Posten</a>
					</div>
				</div>
			</div>
			
		</div>
	
	</div></div>
	
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="nextItem(-1)"><span class="glyphicon glyphicon-chevron-left"></span> Voriges</button>
		<button class="btn btn-default" ng-click="nextItem(1)">Nächstes<span class="glyphicon glyphicon-chevron-right"></span></button>
		<button type="button" class="btn btn-default" ng-click="close()">Abbrechen</button>
	</div>
	
</div>