<div class="modal-content">
	
	<div class="modal-header" ng-show="title">
		<button type="button" class="close" aria-label="Close" ng-click="$hide()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" ng-bind="title"></h4>
	</div>
	
	<div class="modal-body sourceDetail"><div>
	
		<div ng-class="horizontalImage ? 'imageHDiv' : 'imageVDiv'">
			<img ng-if="item.type == 'picture' || item.type == 'plan'" ng-src="data/{{item.file.path + (item.file.display || item.file.img1024 || item.file.name)}}"/>
			<div ng-if="item.type == 'text'" class="displayText" ng-include="'data/' + item.file.path + item.file.display[pageNr]"></div>
		</div>
		<div ng-class="horizontalImage ? 'infoHDiv' : 'infoVDiv'">
			<img ng-if="item.type == 'text'" ng-src="data/{{item.file.path}}_thumbs/{{item.file.thumb}}"/>
			<h3>{{item.title}}</h3>
			<hr/>
			<div>
				<strong>Autor</strong>
				<p>{{item.author || 'unbekannt'}}</p>
			</div>
			<div ng-if="item.archive">
				<strong>Archiv</strong>
				<p>{{item.archive.institutionAbbr}} {{item.archive.collection}}<br/>
				{{item.archive.identifier}}</p>
			</div>
			<div ng-if="item.date">
				<strong>Datierung</strong>
				<p>{{item.date}}</p>
			</div>
			<div ng-if="item.place">
				<strong>Erstellungsort</strong>
				<p>{{item.place}}</p>
			</div>
			<div ng-if="item.comment">
				<strong>Kommentar</strong>
				<p>{{item.comment}}</p>
			</div>
			<div>
				<p><a ng-href="data/{{item.file.path + item.file.name}}" target="_blank">Originaldatei</a></p>
			</div>
			<div ng-if="item.type == 'text'">
				<button class="btn btn-default btn-sm" ng-click="nextPage(-1)">vorige Seite</button>
				<button class="btn btn-default btn-sm" ng-click="nextPage(1)">nächste Seite</button>
				<p>Seite {{pageNr + 1}}</p>
			</div>
		</div>
	
	</div></div>
	
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="nextItem(-1)"><span class="glyphicon glyphicon-chevron-left"></span> Voriges</button>
		<button class="btn btn-default" ng-click="nextItem(1)">Nächstes<span class="glyphicon glyphicon-chevron-right"></span></button>
		<button type="button" class="btn btn-default" ng-click="$hide()">Abbrechen</button>
	</div>
	
</div>