<div class="modal-content">
	
	<div class="modal-header" ng-show="title">
		<button type="button" class="close" aria-label="Close" ng-click="$hide()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" ng-bind="title"></h4>
	</div>
	
	<div class="modal-body sourceDetail"><div>
	
		<div ng-class="horizontalImage ? 'imageHDiv' : 'imageVDiv'">
			<img ng-src="{{item.file.path + (item.file.img1024 || item.file.name)}}"/>
		</div>
		<div ng-class="horizontalImage ? 'infoHDiv' : 'infoVDiv'">
			<h3>{{item.title}}</h3>
			<hr/>
			<div>
				<strong>Autor</strong>
				<p>{{item.author || 'unbekannt'}}</p>
			</div>
			<div ng-if="item.archive">
				<strong>Archivnummer</strong>
				<p>{{item.archive}}</p>
			</div>
			<div ng-if="item.date">
				<strong>Datierung</strong>
				<p>{{item.date}}</p>
			</div>
			<div ng-if="item.place">
				<strong>Erstellungsort</strong>
				<p>{{item.place}}</p>
			</div>
			<div ng-if="item.comment">
				<strong>Kommentar</strong>
				<p>{{item.comment}}</p>
			</div>
		</div>
	
	</div></div>
	
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="nextItem(-1)"><span class="glyphicon glyphicon-chevron-left"></span> Voriges</button>
		<button class="btn btn-default" ng-click="nextItem(1)">Nächstes<span class="glyphicon glyphicon-chevron-right"></span></button>
		<button type="button" class="btn btn-default" ng-click="$hide()">Abbrechen</button>
	</div>
	
</div>